In [219]:
import pandas as pd

In [220]:
#tours csv dataframe
tours = pd.read_csv('/Users/barry/n3xtcoder/data/24-04-24/Tour.csv')

In [221]:
#complaints csv dataframe
complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/3590055005.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [222]:
len(tours)

138953

In [223]:
#there is a fair few duplicates to get rid of
tours = tours.drop_duplicates()

In [224]:
len(tours)

95349

In [225]:
#these are not full duplicates. We're only interested in the complaint reason 901. If this happens all subsequent tasks on 
#that tour also get marked with this reason. We're only interested in the first instance of this reason.
complaints = complaints.drop_duplicates(subset='%TOURNR', keep='first')

In [226]:
#isolating the 901 reason 'Tour nicht geschafft'
complaints = complaints[complaints.Reklamationsgrund == 901.0]

In [227]:
complaints.head()

,%TOURNR,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
100,163663,A240916831,901,Tour nicht geschafft,Tourüberlastung
682,166324,A241175733,901,Tour nicht geschafft,Fahrzeugausfall
725,121217,A241176514,901,Tour nicht geschafft,Tourüberlastung
750,166005,A241185159,901,Tour nicht geschafft,Tourüberlastung
753,121221,A241185282,901,Tour nicht geschafft,Tourüberlastung

In [228]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [229]:
#i'm doing a left join here. This means all tours are kept and only the complaints that match are added to the dataframe.
tours_join_complaints = pd.merge(tours, complaints, on='%TOURNR', how='left')

In [230]:
tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0].head(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
358,14094,27.12.2023,MONU,1,TP00335,A234530422,901.0,Tour nicht geschafft,Zeitarbeiterproblem
367,18690,15.04.2021,MONU,1,TP00335,A211251520,901.0,Tour nicht geschafft,NaN
1360,39368,30.06.2022,MONU,2,TP00336,A222253580,901.0,Tour nicht geschafft,Tourüberlastung
1522,25310,04.12.2023,MONU,2,TP00336,A234247715,901.0,Tour nicht geschafft,Fahrzeugausfall
2720,59206,14.10.2021,MONU,4,TP00342,A213546939,901.0,Tour nicht geschafft,NaN
3085,66775,02.11.2022,MONU,4,TP00342,A223849279,901.0,Tour nicht geschafft,Fahrzeugausfall
4962,12752,04.12.2023,MONU,7,TP00349,A234245724,901.0,Tour nicht geschafft,Fahrzeugausfall
5309,95306,06.12.2023,MONU,7,TP00349,A234290562,901.0,Tour nicht geschafft,Zeitarbeiterproblem
5444,34449,08.11.2021,MONU,7,TP00349,A213816212,901.0,Tour nicht geschafft,NaN
5671,31297,20.06.2022,MONU,8,TP00401,A222105779,901.0,Tour nicht geschafft,Fahrzeugausfall
5797,14958,12.03.2021,MONU,8,TP00401,A210803119,901.0,Tour nicht geschafft,NaN
6011,88626,05.12.2023,MONU,8,TP00401,A234268887,901.0,Tour nicht geschafft,Fahrzeug voll
6813,34951,17.11.2021,MONU,9,TP00402,A214019612,901.0,Tour nicht geschafft,NaN
6819,35040,23.11.2021,MONU,9,TP00402,A214007316,901.0,Tour nicht geschafft,NaN
6821,34952,18.11.2021,MONU,9,TP00402,A213969932,901.0,Tour nicht geschafft,NaN
7020,55778,15.11.2021,MONU,9,TP00402,A213879235,901.0,Tour nicht geschafft,NaN
7364,31676,27.06.2022,MONU,10,TP00500,A222190645,901.0,Tour nicht geschafft,Tourüberlastung
7369,31770,24.06.2022,MONU,10,TP00500,A222190258,901.0,Tour nicht geschafft,Tourüberlastung
7424,33737,29.10.2021,MONU,10,TP00500,A213766789,901.0,Tour nicht geschafft,NaN
7504,27898,29.04.2022,MONU,10,TP00500,A221484759,901.0,Tour nicht geschafft,Tourüberlastung

In [231]:
len(tours)

95349

In [232]:
#double checking that the len of tours_join_complaints is the same as the original tours dataframe
len(tours_join_complaints)

95349

In [233]:
#to get a sense of how many complaints of 'tour nicht geschafft' there are
tours_join_complaints.Reklamationsgrund.value_counts()

Reklamationsgrund
901.0    1233
Name: count, dtype: int64

In [234]:
len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0])

1233

In [235]:
#this is the percentage of tours that ARE successfully completed. The amount which are 'unsuccessful' is the inverse of this. 1.13%
(len(tours_join_complaints)-len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0]))/len(tours_join_complaints) *100

98.70685586634364

In [236]:
#this is an aside to just double check that w're not missing any complaints that might be relevant to our analysis
complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1281685158.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [237]:
complaints2.Grund.unique()

array(['BB Deckel beschädigt', 'Ü Ladestelle beräumt',
       'VSS Schlüssel/Code erforderlich',
       'NB nicht bereitgestellter Behälter', 'TV Transportweg versperrt',
       'CT/AK Container/Mulde  defekt',
       'Leerung ist erfolgt - Foto erstellt',
       'Freilaufender Hund - GS nicht betreten',
       'Standort für Behälter unklar', 'TB Transportweg Baustelle',
       'VS kein Schlüssel erforderlich', 'Tour nicht geschafft',
       'Behälter zu schwer', 'RC Behälter vermüllt', 'BB Rad beschädigt',
       'VST Tresorproblem', 'leerer Behälter - 0 Menge -',
       'Ü nur Behälter geladen', 'Z3 Schloss fehlt od. defekt',
       'Behälter-Rumpf defekt', 'BB Zapfen beschädigt',
       'VB Verdreckter Behälter', 'Behälter zuviel',
       'LV Ladestelle vermüllt', 'Ü Erhöhung erforderlich',
       'Rattenbefall - keine Leerung', 'Fahrstuhl defekt', 'Fremdtonne',
       'Behälter in Schüttung gefallen', 'Brenner - Behälter beschädigt',
       'CT/AK - Leerfahrt', 'Fahrzeugausfall/Fahrzeugwechsel',
       'AFM - Meldung E-Schrott', 'AFM - Auftragsveränderungen',
       'Storno - Leistung storniert, keine Leerung',
       'TT - Schlüssel für TT-Abfuhr',
       'AFM - Entsorger hat nicht geladen', 'Behälter - Reste angefroren',
       'Tourenplanung neu', 'Behälter falsch/nicht zurückgestellt',
       'Unfall - Fahrzeug - Eigenverschulden',
       'AFM - Standplatzbetreuung',
       'Unfall - Fahrzeug - Fremdverschulden',
       'Nicht geladen - Nachleerung', 'Größe falsch',
       'SZ /Urlaub/Schließzeit/VS', nan, 'UFC-Behälter defekt',
       'SOV Sonstige Vorkommnisse', 'IGLU-Behälter defekt',
       'Unfall - Haftpflichtschaden/keine Fahrzeugbeteiligung',
       'Behälter nur gestellt', 'TB Transportweg Baustelle kurz',
       'CT/AK - Material/Falschbefüllung',
       'Nicht geladen - MMM mitnehmen', 'Behälter fehlt',
       'Coronaschließung - keine Entsorgung',
       'RE/GS/MA für Kunden unklar', 'Nicht vollständig geladen',
       'Nicht Geladen - Gutschrift', 'Bemerkungstexte anpassen',
       'Falsche RE/GS/MA', 'RE falsch: Leistung, Menge, Preis',
       'Keine RE/GS/MA erhalten', 'Behälter nicht wieder verschlossen',
       'Nicht nachgeladen - Gutschrift', 'Glasabzug',
       'Fehlende RE/GS, Rechnungskopie', 'Fehlverhalten allgemein',
       'Einzugsermächtigung nicht berücksichtigt',
       'Stammdaten nicht korrekt',
       'Tor/Tür/Käfig/Keller nicht wieder verschlossen'], dtype=object)

In [238]:
tours_join_complaints.Reklamationsgrund.unique()

array([ nan, 901.])

In [239]:
# a random sample of the tours. the successful tours are marked with NaN
tours_join_complaints.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
81437,44312,26.08.2021,MONU,120,TAK0001,NaN,NaN,NaN,NaN
25275,69124,14.02.2022,MONU,39,TG00034,NaN,NaN,NaN,NaN
45601,43532,26.07.2021,MONU,70,TP00115,NaN,NaN,NaN,NaN
32827,42096,06.07.2021,MONU,49,TM00010,NaN,NaN,NaN,NaN
61223,60774,20.07.2022,MONU,92,TP00216,NaN,NaN,NaN,NaN
20594,95225,28.11.2023,MONU,33,TG00020,NaN,NaN,NaN,NaN
90187,4340,04.04.2023,MONU,135,TP00348,NaN,NaN,NaN,NaN
44798,95147,24.08.2023,MONU,69,TP00114,A232965920,901.0,Tour nicht geschafft,Tourüberlastung
47493,51985,09.06.2021,MONU,72,TP00211,NaN,NaN,NaN,NaN
48146,63589,02.09.2022,MONU,73,TP00331,NaN,NaN,NaN,NaN
16560,27917,23.04.2022,MONU,25,TCT0010,NaN,NaN,NaN,NaN
67276,36348,19.01.2022,MONU,100,TP00215,NaN,NaN,NaN,NaN
63506,59484,10.11.2021,MONU,95,TP00311,NaN,NaN,NaN,NaN
84720,71890,21.09.2022,MONU,126,TCT0008,NaN,NaN,NaN,NaN
83442,89587,12.04.2023,MONU,123,TCT0004,NaN,NaN,NaN,NaN
51445,18770,20.04.2021,MONU,77,TP00339,NaN,NaN,NaN,NaN
13317,48486,21.12.2021,MONU,20,TP00117,NaN,NaN,NaN,NaN
85586,58859,13.10.2021,MONU,127,TCT0009,NaN,NaN,NaN,NaN
50262,56938,04.03.2022,MONU,76,TP00338,NaN,NaN,NaN,NaN
92233,82198,25.05.2023,MONU,143,TG00011,NaN,NaN,NaN,NaN

In [240]:
#this is the CSV related to employees. how many there are, if thye are 'Zeitarbeiter' and if the tour had the main driver
resources = pd.read_csv('data/24-04-24/Ressource.csv')

In [241]:
#a tour can have multiple employees. Thus a tour can have multiple rows in the resources dataframe.
#I'm grouping by the tour number and counting the number of employees on each tour by counting the number of rows.
exmployee_count = resources.groupby('%TOURNR').count().reset_index()[['%TOURNR', '%Mitarbeiternummer']]

In [242]:
#here we want to do a similar groupby but instead of counting the rows we are summing the values.
#if a row has a 1 in the zeit arbieter flag and the same tour has another row, meaning another mitarbeiter, who also has this one
#that means we have 2 Zeitarbeiters - similar logic for the 'Ressource.Erster Fahrer' column
summed_employee_flags = resources.groupby('%TOURNR').sum().reset_index()[['%TOURNR', 'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer']]

In [243]:
#Join those two tables to get the 'counted' employees and the 'summed' zeitarbeiter and main driver
processed_employees = pd.merge(exmployee_count, summed_employee_flags, on='%TOURNR', how='inner')

In [244]:
processed_employees = processed_employees.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [245]:
#employee_count = resources.groupby('%TOURNR').count()

In [246]:
processed_employees.sample(20)

        %TOURNR  employee_count  Zeitarbeiter_Flag  Ressource.Erster Fahrer
145246   145276               2                  0                        1
151812   151842               2                  0                        1
142556   142586               3                  1                        1
88717     88734               2                  0                        1
87787     87804               2                  1                        1
22237     22241               2                  0                        1
155326   155356               2                  0                        1
5455       5457               2                  0                        1
52729     52741               1                  0                        1
129903   129933               2                  1                        1
100750   100780               3                  1                        1
161657   161687               2                  1                        1
166332   166362               2                  1                        1
21140     21144               2                  0                        1
134736   134766               2                  0                        1
76264     76279               2                  0                        1
64628     64642               2                  0                        1
81162     81177               2                  0                        1
12366     12369               1                  0                        1
157925   157955               2                  0                        1

In [247]:
#now join that table to my combined tours/complaints table
tours_join_complaints_employees = pd.merge(tours_join_complaints, processed_employees, on='%TOURNR', how='left')

In [248]:
tours_join_complaints_employees.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0
1,38897,07.02.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
2,73190,21.10.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
3,54020,06.08.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,78256,27.01.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0

In [249]:
#lets add in my tasks table
tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1245601721.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

In [250]:
tasks = tasks.drop_duplicates()

In [251]:
#A tour can have many tasks in it. I want to see how many each Tour has and then join that to my main table

number_of_tasks = tasks.groupby('%TOURNR').count().reset_index()[['%TOURNR','Artikel']]

In [252]:
#The tours have more tasks that i expected. The column is called 'Artikel' but that is arbitrary, i needed a column to keep the tally.
#I'll change the name shortly
number_of_tasks.head()

   %TOURNR  Artikel
0        1      182
1        2      152
2        3      152
3        4      170
4        5      151

In [253]:
#lets add this tasks count to teh main table
tours_join_complaints_employees_taskcoount = pd.merge(tours_join_complaints_employees, number_of_tasks, on='%TOURNR', how='left')

In [254]:
#lets rename the Article column to task_count to keep track of it
tours_join_complaints_employees_taskcoount = tours_join_complaints_employees_taskcoount.rename(columns={'Artikel': 'task_count'})

In [255]:
#lets have a look at a random sample of 20 to see if its being as we expect it to be
tours_join_complaints_employees_taskcoount.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count
94161,89249,20.11.2023,MONU,157,TBBV0002,NaN,NaN,NaN,NaN,2.0,0.0,1.0,NaN
24875,29182,26.09.2023,MONU,38,TG00032,NaN,NaN,NaN,NaN,2.0,1.0,1.0,148.0
14923,3753,03.02.2023,MONU,23,TP00214,NaN,NaN,NaN,NaN,2.0,1.0,1.0,211.0
79050,75454,26.10.2022,MONU,117,TP00314,NaN,NaN,NaN,NaN,2.0,0.0,1.0,201.0
6608,54064,04.08.2021,MONU,9,TP00402,NaN,NaN,NaN,NaN,2.0,1.0,1.0,264.0
779,49803,04.01.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0,162.0
74956,70530,28.05.2022,MONU,110,TP00326,NaN,NaN,NaN,NaN,2.0,1.0,1.0,228.0
89586,78284,01.02.2023,MONU,134,TP00346,NaN,NaN,NaN,NaN,2.0,0.0,1.0,156.0
67059,45025,06.09.2021,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0
18375,80189,20.03.2023,MONU,29,TCT0016,NaN,NaN,NaN,NaN,2.0,1.0,1.0,1.0
85966,50313,04.01.2021,MONU,128,TLV00577,NaN,NaN,NaN,NaN,2.0,0.0,1.0,3.0
45439,11029,23.12.2023,MONU,70,TP00115,NaN,NaN,NaN,NaN,2.0,0.0,1.0,206.0
6557,45442,13.09.2021,MONU,9,TP00402,NaN,NaN,NaN,NaN,3.0,2.0,1.0,243.0
54040,32676,23.05.2022,MONU,82,TG00023,NaN,NaN,NaN,NaN,2.0,0.0,1.0,168.0
30620,29117,29.04.2021,MONU,46,TM00007,NaN,NaN,NaN,NaN,2.0,0.0,1.0,59.0
20585,3438,24.01.2023,MONU,33,TG00020,NaN,NaN,NaN,NaN,2.0,1.0,1.0,178.0
66104,87207,11.09.2023,MONU,98,TP00219,NaN,NaN,NaN,NaN,3.0,1.0,1.0,120.0
74596,39490,01.07.2022,MONU,109,TP00324,NaN,NaN,NaN,NaN,3.0,2.0,1.0,210.0
4122,34438,08.11.2021,MONU,6,TP00344,NaN,NaN,NaN,NaN,2.0,1.0,1.0,170.0
40482,83763,12.09.2023,MONU,62,TT00003,NaN,NaN,NaN,NaN,2.0,1.0,1.0,6.0

In [256]:
#double checking what the tours CSV was like
tours.head()

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335
1    38897   07.02.2022           MONU            1        TP00335
2    73190   21.10.2022           MONU            1        TP00335
3    54020   06.08.2021           MONU            1        TP00335
4    78256   27.01.2023           MONU            1        TP00335

In [257]:
#My understaind is that every time the truck leaves it gets a unique 'tourNr'. If this route is a regular route it gets a 
#Rahmentour number as well. To keep track of how many tours are in each Rahmentour i'm going to group by that column and count
#Rahmentour with number 3 occurred 801 times
tours.groupby('%Rahmentour').count()

             %TOURNR  Einsatzdatum  Betriebsstätte  Rahmentourcode
%Rahmentour
1                800           800             800             800
2                790           790             790             790
3                801           801             801             801
4                785           785             785             785
5                781           781             781             781
...              ...           ...             ...             ...
195                1             1               1               1
196                1             1               1               1
197                1             1               1               1
198                2             2               2               2
199                1             1               1               1

[199 rows x 4 columns]

In [258]:
#there is some surprise at the number of tasks in a tour. This is to isolate it for one tour, 6276 and to double check that the 
#count/summing above is correct... It appears to be. The TOURNR is the same, all on the one date, with unique Auftr.Auftragsnr for each 
#task and a changing %DEBITOR%EINSATZSTELLE for each pick up location
tasks[tasks['%TOURNR'] == 6276]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
2350808,6276,6477,A233037454,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493451,6276,55846,A233051474,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493488,6276,83418,A233051615,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493532,6276,83417,A233051612,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
3357645,6276,44250,A233049476,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
7619821,6276,89146,A233035750,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7619858,6276,6075,A233035795,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620163,6276,36851,A233034779,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620690,6276,50790,A233023465,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
13171550,6276,28318,A233042465,31.08.2023,1,Stück,10060.0,M501400,Glas weiß Duales System,360 L MGB

In [259]:
#NOTE for tomorrow - I want work out the average number of tasks for each rahmen tour to see if the number of tasks is a factor in
#the success of the tour. I also want to see if the number of employees is a factor in the success of the tour. Possiblying having a
# column that shows if the tour had more or less or the average number of employees for that tour.

In [260]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [261]:
resources.head(1)

   %TOURNR  %Mitarbeiternummer  Zeitarbeiter_Flag  Ressource.Erster Fahrer
0    95350                   1                  0                        1

In [262]:
resources_tours = pd.merge(resources, tours, on='%TOURNR', how='inner')

In [263]:
resources_tours.head(20)

,%TOURNR,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode
0,1,278,0,1,22.08.2023,MONU,1,TP00335
1,1,279,0,0,22.08.2023,MONU,1,TP00335
2,2,280,0,1,22.08.2023,MONU,2,TP00336
3,2,281,1,0,22.08.2023,MONU,2,TP00336
4,3,239,0,1,22.08.2023,MONU,3,TP00337
5,3,282,1,0,22.08.2023,MONU,3,TP00337
6,4,283,0,1,22.08.2023,MONU,4,TP00342
7,4,284,1,0,22.08.2023,MONU,4,TP00342
8,5,285,0,1,22.08.2023,MONU,5,TP00343
9,5,286,0,0,22.08.2023,MONU,5,TP00343
10,6,287,0,1,22.08.2023,MONU,6,TP00344
11,6,288,0,0,22.08.2023,MONU,6,TP00344
12,7,289,1,0,22.08.2023,MONU,7,TP00349
13,7,290,0,1,22.08.2023,MONU,7,TP00349
14,8,291,0,1,22.08.2023,MONU,8,TP00401
15,8,292,0,0,22.08.2023,MONU,8,TP00401
16,9,293,0,1,22.08.2023,MONU,9,TP00402
17,9,26,0,0,22.08.2023,MONU,9,TP00402
18,10,294,0,1,22.08.2023,MONU,10,TP00500
19,10,295,1,0,22.08.2023,MONU,10,TP00500

In [264]:
grouped = resources_tours.groupby(['%TOURNR', '%Rahmentour']).count().reset_index()

In [265]:
grouped.head()

,%TOURNR,%Rahmentour,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,Rahmentourcode
0,1,1,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2
2,3,3,2,2,2,2,2,2
3,4,4,2,2,2,2,2,2
4,5,5,2,2,2,2,2,2

In [266]:
sorted_grouped = grouped.sort_values(by='%Rahmentour')

In [267]:
sorted_grouped = sorted_grouped[['%TOURNR','%Rahmentour','%Mitarbeiternummer']]

In [268]:
sorted_grouped = sorted_grouped.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [269]:
sorted_grouped.head(20)

       %TOURNR  %Rahmentour  employee_count
0            1            1               2
80644    80659            1               3
80570    80585            1               3
30456    30463            1               2
57410    57423            1               2
30342    30349            1               2
1157      1158            1               2
57163    57176            1               2
80401    80416            1               2
80319    80334            1               3
30155    30162            1               2
94036    94056            1               2
11981    11984            1               2
11982    11985            1               2
11983    11986            1               2
80373    80388            1               2
80751    80766            1               2
30627    30634            1               3
30628    30635            1               3
31018    31025            1               3

In [270]:
average_employee_count = sorted_grouped.groupby('%Rahmentour')['employee_count'].mean().reset_index()

In [271]:
average_employee_count

     %Rahmentour  employee_count
0              1        2.226250
1              2        2.149367
2              3        2.131086
3              4        2.095541
4              5        2.153649
..           ...             ...
194          195        1.000000
195          196        2.000000
196          197        4.000000
197          198        2.000000
198          199        3.000000

[199 rows x 2 columns]

In [272]:
everything_table = pd.merge(tours_join_complaints_employees_taskcoount, average_employee_count, on = '%Rahmentour', how = 'inner' )

In [273]:
everything_table = everything_table.rename(columns={'employee_count_x': 'employee_count', 'employee_count_y': 'average_employee_count'})

In [274]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
5999,36840,14.01.2022,MONU,8,TP00401,NaN,NaN,NaN,NaN,2.0,0.0,1.0,181.0,2.153266
39942,74540,30.07.2022,MONU,62,TT00003,NaN,NaN,NaN,NaN,2.0,1.0,1.0,9.0,1.875576
23991,62050,15.08.2022,MONU,37,TG00031,NaN,NaN,NaN,NaN,2.0,0.0,1.0,2058.0,2.075899
22076,7113,05.10.2023,MONU,35,TG00022,NaN,NaN,NaN,NaN,2.0,0.0,1.0,169.0,2.077632
36572,73609,05.12.2022,MONU,55,TG00036,NaN,NaN,NaN,NaN,2.0,0.0,1.0,147.0,2.065487
66595,72281,12.10.2022,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.088710
63487,10614,20.11.2023,MONU,95,TP00311,NaN,NaN,NaN,NaN,2.0,0.0,1.0,192.0,2.374218
91415,41163,25.06.2021,MONU,137,TP00313,NaN,NaN,NaN,NaN,2.0,0.0,1.0,125.0,2.350699
86776,94878,13.01.2023,MONU,130,TP00325,NaN,NaN,NaN,NaN,2.0,0.0,1.0,218.0,2.147395
77016,43739,13.12.2023,MONU,112,TP00600-DW,NaN,NaN,NaN,NaN,3.0,1.0,1.0,153.0,2.160167
18428,68334,25.11.2022,MONU,30,TG00010,NaN,NaN,NaN,NaN,2.0,1.0,1.0,360.0,2.081425
71757,13744,05.02.2021,MONU,105,TP00319,NaN,NaN,NaN,NaN,2.0,1.0,1.0,205.0,2.274235
74512,92209,12.05.2023,MONU,109,TP00324,NaN,NaN,NaN,NaN,2.0,0.0,1.0,205.0,2.279543
7813,3488,24.01.2023,MONU,10,TP00500,NaN,NaN,NaN,NaN,2.0,0.0,1.0,49.0,2.053503
17130,60676,14.07.2022,MONU,26,TCT0012,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0,1.003636
89224,21374,17.03.2022,MONU,134,TP00346,NaN,NaN,NaN,NaN,2.0,0.0,1.0,132.0,2.107831
91731,26003,08.04.2022,MONU,137,TP00313,NaN,NaN,NaN,NaN,2.0,0.0,1.0,153.0,2.350699
67073,68877,10.02.2022,MONU,100,TP00215,NaN,NaN,NaN,NaN,2.0,0.0,1.0,133.0,2.083544
69414,12066,01.12.2023,MONU,102,TP00316,NaN,NaN,NaN,NaN,2.0,0.0,1.0,189.0,2.259591
28793,86400,04.07.2023,MONU,44,TM00005,NaN,NaN,NaN,NaN,2.0,0.0,1.0,59.0,2.027473

In [275]:
everything_table[everything_table.Rahmentourcode == 'TP00433']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
10458,64927,07.09.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,NaN,2.262895
10459,34981,22.11.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,0.0,1.0,159.0,2.262895
10460,11200,16.11.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,2.0,1.0,149.0,2.262895
10461,27513,26.04.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,134.0,2.262895
10462,79764,13.03.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,237.0,2.262895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11054,32179,16.05.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,164.0,2.262895
11055,59879,25.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,160.0,2.262895
11056,33768,29.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,1.0,1.0,141.0,2.262895
11057,77914,16.02.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0,2.262895
11058,89664,12.04.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,147.0,2.262895

#I want to add tour times

In [276]:
tour_times = pd.read_csv('data/24-04-24/Tour_times.csv')

In [277]:
tour_times.head(1)

   %TOURNR Einsatzdatum Startuhrzeit Endeuhrzeit Ausgangspunkt
0    50486   02.01.2021     00:00:00    00:00:00           NaN

In [278]:
everything_table.head(1)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0,149.0,2.22625

In [279]:
everything_table = pd.merge(everything_table, tour_times, on=['%TOURNR', 'Einsatzdatum'], how='inner')

In [280]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt
8414,76489,31.08.2023,MONU,11,TP00347,NaN,NaN,NaN,NaN,3.0,1.0,1.0,155.0,2.447059,05:37:51,14:12:36,BR_MONU
40188,57262,08.12.2022,MONU,62,TT00003,NaN,NaN,NaN,NaN,1.0,0.0,1.0,13.0,1.875576,00:00:00,00:00:00,BR_MONU
22756,30955,16.06.2022,MONU,35,TG00022,NaN,NaN,NaN,NaN,3.0,1.0,1.0,63.0,2.077632,06:04:52,13:18:40,NaN
55105,43291,22.07.2021,MONU,84,TM00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,58.0,2.006337,05:44:30,13:33:33,NaN
4588,54755,17.08.2021,MONU,6,TP00344,NaN,NaN,NaN,NaN,2.0,0.0,1.0,155.0,2.092664,05:18:10,14:40:27,NaN
29246,56820,04.03.2022,MONU,45,TM00006,NaN,NaN,NaN,NaN,2.0,0.0,1.0,55.0,2.085750,04:35:36,12:48:26,NaN
80767,72418,26.10.2023,MONU,119,TP00333,NaN,NaN,NaN,NaN,2.0,0.0,1.0,301.0,2.091250,05:41:31,13:29:03,BR_RUDOWER
24702,77440,23.09.2022,MONU,38,TG00032,NaN,NaN,NaN,NaN,2.0,0.0,1.0,171.0,2.076923,05:30:55,13:19:10,BR_WESTH
43137,93607,22.12.2022,MONU,67,TP00112,NaN,NaN,NaN,NaN,3.0,1.0,1.0,215.0,2.184576,06:43:56,06:45:35,BR_LENG
55048,34723,19.11.2021,MONU,84,TM00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,73.0,2.006337,05:31:47,13:43:38,NaN
65590,64648,12.09.2022,MONU,97,TP00341,NaN,NaN,NaN,NaN,2.0,1.0,1.0,209.0,2.256378,06:00:44,13:37:54,BR_MONU
7154,45820,10.09.2021,MONU,10,TP00500,NaN,NaN,NaN,NaN,2.0,1.0,1.0,59.0,2.053503,05:23:52,15:08:06,NaN
66553,1117,17.01.2023,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.088710,05:26:38,13:24:51,BR_WESTH
77763,66671,01.11.2022,MONU,114,TP00431,NaN,NaN,NaN,NaN,5.0,1.0,1.0,214.0,3.357143,05:39:06,13:51:50,BR_MONU
21404,91200,12.05.2023,MONU,34,TG00021,NaN,NaN,NaN,NaN,2.0,0.0,1.0,195.0,2.087533,06:10:09,13:37:22,BR_WESTH
79397,43304,22.07.2021,MONU,117,TP00314,NaN,NaN,NaN,NaN,2.0,0.0,1.0,217.0,2.313776,05:39:11,16:00:29,NaN
28070,11681,20.01.2021,MONU,43,TM00004,NaN,NaN,NaN,NaN,2.0,0.0,1.0,57.0,2.154430,05:29:15,12:49:11,NaN
57520,25860,07.04.2022,MONU,87,TM00012,NaN,NaN,NaN,NaN,2.0,1.0,1.0,54.0,2.135787,05:46:07,14:03:58,NaN
39088,38418,02.02.2022,MONU,60,TT00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,26.0,1.864116,00:00:00,00:00:00,BR_MONU
2756,42473,08.07.2021,MONU,4,TP00342,NaN,NaN,NaN,NaN,2.0,0.0,1.0,160.0,2.095541,05:12:44,13:05:50,NaN

In [281]:
everything_table.Einsatzdatum = pd.to_datetime(everything_table.Einsatzdatum, format="%d.%m.%Y")

In [282]:
everything_table['year'] = everything_table.Einsatzdatum.dt.year

In [283]:
everything_table['month'] = everything_table.Einsatzdatum.dt.month_name()
everything_table['month_number'] = everything_table.Einsatzdatum.dt.month
everything_table['day'] = everything_table.Einsatzdatum.dt.day_name()
everything_table['day_number'] = everything_table.Einsatzdatum.dt.day

In [284]:
everything_table['rubbish_type'] = everything_table['Rahmentourcode'].str.extract(r'(\D+)')

In [285]:
rahmehentour_values = everything_table['%Rahmentour'].value_counts().to_list()

In [286]:
rahmentourcode_values = everything_table['Rahmentourcode'].value_counts().to_list()

In [287]:
if rahmehentour_values == rahmentourcode_values:
    print('They are the same')

They are the same

In [288]:
everything_table.to_pickle('data/24-04-24/everything_table.pkl')

In [289]:
everything_table[everything_table['Rahmentourcode'] == 'TP00334']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,...,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
49229,53068,2021-06-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,3.0,...,4.298526,05:42:50,14:32:41,NaN,2021,June,6,Tuesday,22,TP
49230,87822,2023-08-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,06:02:44,13:21:37,BR_RUDOWER,2023,August,8,Tuesday,22,TP
49231,4738,2023-06-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,05:56:51,14:12:10,BR_RUDOWER,2023,June,6,Thursday,8,TP
49232,77255,2023-08-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,...,4.298526,06:17:45,12:48:49,BR_RUDOWER,2023,August,8,Tuesday,8,TP
49233,81435,2023-04-06,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,06:00:02,13:51:13,BR_RUDOWER,2023,April,4,Thursday,6,TP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP
50039,79431,2023-02-23,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,07:03:26,14:16:20,BR_NOBEL,2023,February,2,Thursday,23,TP
50040,53732,2021-08-25,MONU,75,TP00334,NaN,NaN,NaN,NaN,2.0,...,4.298526,05:43:52,14:39:10,NaN,2021,August,8,Wednesday,25,TP
50041,8569,2023-10-09,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,...,4.298526,05:43:58,14:12:42,BR_RUDOWER,2023,October,10,Monday,9,TP
50042,57299,2022-12-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,06:11:50,14:00:45,BR_NOBEL,2022,December,12,Thursday,8,TP

In [290]:
len(tasks)

13242155

In [291]:
tasks = tasks.drop_duplicates()
len(tasks)

13242155

In [297]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [303]:
everything_table[everything_table['%TOURNR'] == 82001]

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,...,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,...,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP

In [302]:
tasks[tasks['%TOURNR'] == 82001]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
379407,82001,27325,A230752989,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
379429,82001,3572,A230746052,01.03.2023,2,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972480,82001,41169,A230754343,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972681,82001,21720,A230752529,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972778,82001,82882,A230756594,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
9703594,82001,63870,A230748717,01.03.2023,3,Stück,10040.0,M610200,"5.01 Altpapier, gemischt",240 L MGB
13140698,82001,20643,A230752418,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141334,82001,33085,A230753332,01.03.2023,3,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141462,82001,40967,A230755410,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13194773,82001,59176,A230740122,01.03.2023,1,Stück,10460.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB Fremdbehälter

In [306]:
tasks_copy  = tasks.copy()

In [304]:
rahmentour_code = everything_table[['%TOURNR','Rahmentourcode']]

In [315]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [307]:
tasks_copy = pd.merge(tasks_copy, rahmentour_code, on='%TOURNR', how='left')

In [318]:
tasks_copy.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel,Rahmentourcode
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014

In [320]:
tasks_copy2 = tasks_copy.groupby(['%TOURNR', 'Rahmentourcode']).count().reset_index()

In [321]:
tasks_copy2.head()

,%TOURNR,Rahmentourcode,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,1,TP00335,182,182,182,182,182,182,182,182,182
1,2,TP00336,152,152,152,152,152,152,152,152,152
2,3,TP00337,152,152,152,152,152,152,152,152,152
3,4,TP00342,170,170,170,170,170,170,170,170,170
4,5,TP00343,151,151,151,151,151,151,151,151,151

In [322]:
tasks_copy2_group = tasks_copy2.groupby('Rahmentourcode')['Artikel'].mean().reset_index()

In [325]:
tasks_copy2_group = tasks_copy2_group.rename(columns={'Artikel': 'average_tasks'})

In [327]:
tasks_copy2_group.sort_values(by='average_tasks', ascending=False)

    Rahmentourcode  average_tasks
146        TP00334     346.202771
131        TP00318     307.929577
141        TP00329     284.872340
107        TP00118     276.418043
130        TP00317     263.078105
..             ...            ...
182        TSL0001       0.800000
29       TCTWBS005       0.750000
192        TT00009       0.700000
8        TAKWBS006       0.000000
7        TAKWBS005       0.000000

[196 rows x 2 columns]

In [328]:
everything_table = pd.merge(everything_table, tasks_copy2_group, on='Rahmentourcode', how='left')

In [329]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,...,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type,average_tasks
60690,21091,2023-08-14,MONU,91,TP00213,NaN,NaN,NaN,NaN,2.0,...,05:10:49,13:07:29,BR_HULT,2023,August,8,Monday,14,TP,206.566496
80307,21628,2022-03-23,MONU,119,TP00333,NaN,NaN,NaN,NaN,2.0,...,05:21:20,14:20:45,NaN,2022,March,3,Wednesday,23,TP,171.233121
42701,37776,2022-01-26,MONU,66,TT00006,NaN,NaN,NaN,NaN,2.0,...,00:00:00,00:00:00,BR_MONU,2022,January,1,Wednesday,26,TT,28.490741
87012,89678,2023-04-14,MONU,130,TP00325,NaN,NaN,NaN,NaN,2.0,...,06:32:22,14:21:04,BR_MONU,2023,April,4,Friday,14,TP,204.348659
10926,6553,2023-07-10,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,...,05:37:14,12:48:54,BR_RUDOWER,2023,July,7,Monday,10,TP,172.535473
82076,61047,2022-07-19,MONU,121,TCT0002,NaN,NaN,NaN,NaN,1.0,...,00:00:00,00:00:00,NaN,2022,July,7,Tuesday,19,TCT,4.641593
64773,24953,2022-03-16,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,...,06:37:21,13:40:01,NaN,2022,March,3,Wednesday,16,TP,224.475765
32800,58986,2023-11-20,MONU,49,TM00010,NaN,NaN,NaN,NaN,2.0,...,04:49:34,13:25:34,BR_MONU,2023,November,11,Monday,20,TM,65.605364
2753,41882,2021-07-02,MONU,4,TP00342,NaN,NaN,NaN,NaN,2.0,...,05:03:37,13:09:59,NaN,2021,July,7,Friday,2,TP,176.052430
10707,36242,2021-12-03,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,...,05:17:42,13:40:15,NaN,2021,December,12,Friday,3,TP,172.535473
85305,57646,2021-09-30,MONU,127,TCT0009,NaN,NaN,NaN,NaN,1.0,...,00:00:00,00:00:00,NaN,2021,September,9,Thursday,30,TCT,4.054519
49979,29344,2021-04-29,MONU,75,TP00334,NaN,NaN,NaN,NaN,3.0,...,00:00:00,00:00:00,NaN,2021,April,4,Thursday,29,TP,346.202771
30825,92749,2023-05-22,MONU,47,TM00008,NaN,NaN,NaN,NaN,3.0,...,05:17:20,13:09:09,BR_MONU,2023,May,5,Monday,22,TM,71.036990
72986,63615,2022-09-02,MONU,107,TP00322,NaN,NaN,NaN,NaN,3.0,...,05:15:47,14:04:32,BR_MONU,2022,September,9,Friday,2,TP,182.984694
16237,12474,2021-01-20,MONU,25,TCT0010,NaN,NaN,NaN,NaN,1.0,...,00:00:00,00:00:00,NaN,2021,January,1,Wednesday,20,TCT,4.070608
47143,75200,2022-10-24,MONU,72,TP00211,NaN,NaN,NaN,NaN,2.0,...,05:05:10,13:51:15,BR_HULT,2022,October,10,Monday,24,TP,190.524297
47504,9911,2023-10-25,MONU,72,TP00211,NaN,NaN,NaN,NaN,2.0,...,05:25:06,14:26:34,BR_HULT,2023,October,10,Wednesday,25,TP,190.524297
61905,36338,2022-01-24,MONU,93,TP00217,NaN,NaN,NaN,NaN,2.0,...,05:56:13,13:21:58,NaN,2022,January,1,Monday,24,TP,160.820611
24074,93510,2022-12-21,MONU,37,TG00031,NaN,NaN,NaN,NaN,3.0,...,05:38:44,13:19:50,BR_WESTH,2022,December,12,Wednesday,21,TG,174.530201
2652,95003,2023-01-17,MONU,4,TP00342,NaN,NaN,NaN,NaN,2.0,...,05:20:38,13:36:23,BR_MONU,2023,January,1,Tuesday,17,TP,176.052430