In [428]:
import pandas as pd

In [429]:
#tours csv dataframe
tours = pd.read_csv('/Users/barry/n3xtcoder/data/24-04-24/Tour.csv')

In [430]:
#complaints csv dataframe
complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/3590055005.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [431]:
pd.set_option('display.max_columns', None)

In [432]:
len(tours)

138953

In [433]:
#there is a fair few duplicates to get rid of
tours = tours.drop_duplicates()

In [434]:
len(tours)

95349

In [435]:
#these are not full duplicates. We're only interested in the complaint reason 901. If this happens all subsequent tasks on 
#that tour also get marked with this reason. We're only interested in the first instance of this reason.
complaints = complaints.drop_duplicates(subset='%TOURNR', keep='first')

In [436]:
#isolating the 901 reason 'Tour nicht geschafft'
complaints = complaints[complaints.Reklamationsgrund == 901.0]

In [437]:
complaints.head()

,%TOURNR,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
100,163663,A240916831,901,Tour nicht geschafft,Tourüberlastung
682,166324,A241175733,901,Tour nicht geschafft,Fahrzeugausfall
725,121217,A241176514,901,Tour nicht geschafft,Tourüberlastung
750,166005,A241185159,901,Tour nicht geschafft,Tourüberlastung
753,121221,A241185282,901,Tour nicht geschafft,Tourüberlastung

In [438]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [439]:
#i'm doing a left join here. This means all tours are kept and only the complaints that match are added to the dataframe.
tours_join_complaints = pd.merge(tours, complaints, on='%TOURNR', how='left')

In [440]:
tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0].head(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
358,14094,27.12.2023,MONU,1,TP00335,A234530422,901.0,Tour nicht geschafft,Zeitarbeiterproblem
367,18690,15.04.2021,MONU,1,TP00335,A211251520,901.0,Tour nicht geschafft,NaN
1360,39368,30.06.2022,MONU,2,TP00336,A222253580,901.0,Tour nicht geschafft,Tourüberlastung
1522,25310,04.12.2023,MONU,2,TP00336,A234247715,901.0,Tour nicht geschafft,Fahrzeugausfall
2720,59206,14.10.2021,MONU,4,TP00342,A213546939,901.0,Tour nicht geschafft,NaN
3085,66775,02.11.2022,MONU,4,TP00342,A223849279,901.0,Tour nicht geschafft,Fahrzeugausfall
4962,12752,04.12.2023,MONU,7,TP00349,A234245724,901.0,Tour nicht geschafft,Fahrzeugausfall
5309,95306,06.12.2023,MONU,7,TP00349,A234290562,901.0,Tour nicht geschafft,Zeitarbeiterproblem
5444,34449,08.11.2021,MONU,7,TP00349,A213816212,901.0,Tour nicht geschafft,NaN
5671,31297,20.06.2022,MONU,8,TP00401,A222105779,901.0,Tour nicht geschafft,Fahrzeugausfall
5797,14958,12.03.2021,MONU,8,TP00401,A210803119,901.0,Tour nicht geschafft,NaN
6011,88626,05.12.2023,MONU,8,TP00401,A234268887,901.0,Tour nicht geschafft,Fahrzeug voll
6813,34951,17.11.2021,MONU,9,TP00402,A214019612,901.0,Tour nicht geschafft,NaN
6819,35040,23.11.2021,MONU,9,TP00402,A214007316,901.0,Tour nicht geschafft,NaN
6821,34952,18.11.2021,MONU,9,TP00402,A213969932,901.0,Tour nicht geschafft,NaN
7020,55778,15.11.2021,MONU,9,TP00402,A213879235,901.0,Tour nicht geschafft,NaN
7364,31676,27.06.2022,MONU,10,TP00500,A222190645,901.0,Tour nicht geschafft,Tourüberlastung
7369,31770,24.06.2022,MONU,10,TP00500,A222190258,901.0,Tour nicht geschafft,Tourüberlastung
7424,33737,29.10.2021,MONU,10,TP00500,A213766789,901.0,Tour nicht geschafft,NaN
7504,27898,29.04.2022,MONU,10,TP00500,A221484759,901.0,Tour nicht geschafft,Tourüberlastung

In [441]:
len(tours)

95349

In [442]:
#double checking that the len of tours_join_complaints is the same as the original tours dataframe
len(tours_join_complaints)

95349

In [443]:
#to get a sense of how many complaints of 'tour nicht geschafft' there are
tours_join_complaints.Reklamationsgrund.value_counts()

Reklamationsgrund
901.0    1233
Name: count, dtype: int64

In [444]:
len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0])

1233

In [445]:
#this is the percentage of tours that ARE successfully completed. The amount which are 'unsuccessful' is the inverse of this. 1.13%
(len(tours_join_complaints)-len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0]))/len(tours_join_complaints) *100

98.70685586634364

In [446]:
#this is an aside to just double check that w're not missing any complaints that might be relevant to our analysis
complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1281685158.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [447]:
complaints2.Grund.unique()

array(['BB Deckel beschädigt', 'Ü Ladestelle beräumt',
       'VSS Schlüssel/Code erforderlich',
       'NB nicht bereitgestellter Behälter', 'TV Transportweg versperrt',
       'CT/AK Container/Mulde  defekt',
       'Leerung ist erfolgt - Foto erstellt',
       'Freilaufender Hund - GS nicht betreten',
       'Standort für Behälter unklar', 'TB Transportweg Baustelle',
       'VS kein Schlüssel erforderlich', 'Tour nicht geschafft',
       'Behälter zu schwer', 'RC Behälter vermüllt', 'BB Rad beschädigt',
       'VST Tresorproblem', 'leerer Behälter - 0 Menge -',
       'Ü nur Behälter geladen', 'Z3 Schloss fehlt od. defekt',
       'Behälter-Rumpf defekt', 'BB Zapfen beschädigt',
       'VB Verdreckter Behälter', 'Behälter zuviel',
       'LV Ladestelle vermüllt', 'Ü Erhöhung erforderlich',
       'Rattenbefall - keine Leerung', 'Fahrstuhl defekt', 'Fremdtonne',
       'Behälter in Schüttung gefallen', 'Brenner - Behälter beschädigt',
       'CT/AK - Leerfahrt', 'Fahrzeugausfall/Fahrzeugwechsel',
       'AFM - Meldung E-Schrott', 'AFM - Auftragsveränderungen',
       'Storno - Leistung storniert, keine Leerung',
       'TT - Schlüssel für TT-Abfuhr',
       'AFM - Entsorger hat nicht geladen', 'Behälter - Reste angefroren',
       'Tourenplanung neu', 'Behälter falsch/nicht zurückgestellt',
       'Unfall - Fahrzeug - Eigenverschulden',
       'AFM - Standplatzbetreuung',
       'Unfall - Fahrzeug - Fremdverschulden',
       'Nicht geladen - Nachleerung', 'Größe falsch',
       'SZ /Urlaub/Schließzeit/VS', nan, 'UFC-Behälter defekt',
       'SOV Sonstige Vorkommnisse', 'IGLU-Behälter defekt',
       'Unfall - Haftpflichtschaden/keine Fahrzeugbeteiligung',
       'Behälter nur gestellt', 'TB Transportweg Baustelle kurz',
       'CT/AK - Material/Falschbefüllung',
       'Nicht geladen - MMM mitnehmen', 'Behälter fehlt',
       'Coronaschließung - keine Entsorgung',
       'RE/GS/MA für Kunden unklar', 'Nicht vollständig geladen',
       'Nicht Geladen - Gutschrift', 'Bemerkungstexte anpassen',
       'Falsche RE/GS/MA', 'RE falsch: Leistung, Menge, Preis',
       'Keine RE/GS/MA erhalten', 'Behälter nicht wieder verschlossen',
       'Nicht nachgeladen - Gutschrift', 'Glasabzug',
       'Fehlende RE/GS, Rechnungskopie', 'Fehlverhalten allgemein',
       'Einzugsermächtigung nicht berücksichtigt',
       'Stammdaten nicht korrekt',
       'Tor/Tür/Käfig/Keller nicht wieder verschlossen'], dtype=object)

In [448]:
tours_join_complaints.Reklamationsgrund.unique()

array([ nan, 901.])

In [449]:
# a random sample of the tours. the successful tours are marked with NaN
tours_join_complaints.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
36145,27583,27.04.2022,MONU,55,TG00036,NaN,NaN,NaN,NaN
42851,54954,17.08.2021,MONU,66,TT00006,NaN,NaN,NaN,NaN
51797,82562,24.05.2023,MONU,78,TP00345,NaN,NaN,NaN,NaN
3466,13937,26.02.2021,MONU,5,TP00343,NaN,NaN,NaN,NaN
76174,26465,13.04.2022,MONU,111,TP00327,NaN,NaN,NaN,NaN
34219,19671,12.05.2021,MONU,51,TGIGLU0712,NaN,NaN,NaN,NaN
28459,79337,23.02.2023,MONU,43,TM00004,NaN,NaN,NaN,NaN
39775,85403,26.06.2023,MONU,61,TT00002,NaN,NaN,NaN,NaN
63681,62556,19.08.2022,MONU,95,TP00311,A222887724,901.0,Tour nicht geschafft,Tourüberlastung
71828,47684,09.12.2021,MONU,106,TP00321,NaN,NaN,NaN,NaN
36302,66719,02.11.2022,MONU,55,TG00036,NaN,NaN,NaN,NaN
80722,31756,24.06.2022,MONU,119,TP00333,NaN,NaN,NaN,NaN
52366,93656,22.12.2022,MONU,78,TP00345,NaN,NaN,NaN,NaN
87058,5431,26.09.2023,MONU,130,TP00325,NaN,NaN,NaN,NaN
65152,53469,02.08.2021,MONU,97,TP00341,NaN,NaN,NaN,NaN
32550,35349,29.11.2021,MONU,49,TM00010,NaN,NaN,NaN,NaN
90936,54674,20.09.2023,MONU,136,TCT0011,NaN,NaN,NaN,NaN
20124,3426,24.01.2023,MONU,32,TG00014,NaN,NaN,NaN,NaN
37105,66965,04.11.2022,MONU,56,TG00027,NaN,NaN,NaN,NaN
67,38138,28.01.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN

In [450]:
#this is the CSV related to employees. how many there are, if thye are 'Zeitarbeiter' and if the tour had the main driver
resources = pd.read_csv('data/24-04-24/Ressource.csv')

In [451]:
#a tour can have multiple employees. Thus a tour can have multiple rows in the resources dataframe.
#I'm grouping by the tour number and counting the number of employees on each tour by counting the number of rows.
exmployee_count = resources.groupby('%TOURNR').count().reset_index()[['%TOURNR', '%Mitarbeiternummer']]

In [452]:
#here we want to do a similar groupby but instead of counting the rows we are summing the values.
#if a row has a 1 in the zeit arbieter flag and the same tour has another row, meaning another mitarbeiter, who also has this one
#that means we have 2 Zeitarbeiters - similar logic for the 'Ressource.Erster Fahrer' column
summed_employee_flags = resources.groupby('%TOURNR').sum().reset_index()[['%TOURNR', 'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer']]

In [453]:
#Join those two tables to get the 'counted' employees and the 'summed' zeitarbeiter and main driver
processed_employees = pd.merge(exmployee_count, summed_employee_flags, on='%TOURNR', how='inner')

In [454]:
processed_employees = processed_employees.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [455]:
#employee_count = resources.groupby('%TOURNR').count()

In [456]:
processed_employees.sample(20)

        %TOURNR  employee_count  Zeitarbeiter_Flag  Ressource.Erster Fahrer
146011   146041               1                  0                        1
78876     78891               2                  0                        1
22857     22861               2                  0                        1
165165   165195               2                  0                        1
96148     96178               2                  1                        1
43954     43964               1                  0                        1
1890       1891               2                  0                        1
14754     14757               2                  0                        1
106866   106896               2                  1                        1
79970     79985               2                  0                        1
52122     52134               1                  0                        1
58361     58374               2                  0                        1
127223   127253               2                  0                        1
28950     28957               1                  0                        1
104309   104339               2                  0                        1
93345     93365               2                  0                        1
146297   146327               2                  0                        1
43456     43465               2                  1                        1
153028   153058               2                  0                        1
20744     20748               2                  1                        1

In [457]:
#now join that table to my combined tours/complaints table
tours_join_complaints_employees = pd.merge(tours_join_complaints, processed_employees, on='%TOURNR', how='left')

In [458]:
tours_join_complaints_employees.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0
1,38897,07.02.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
2,73190,21.10.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
3,54020,06.08.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,78256,27.01.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0

In [459]:
#lets add in my tasks table
tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1245601721.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

In [460]:
tasks = tasks.drop_duplicates()

In [461]:
#A tour can have many tasks in it. I want to see how many each Tour has and then join that to my main table

number_of_tasks = tasks.groupby('%TOURNR').count().reset_index()[['%TOURNR','Artikel']]

In [462]:
#The tours have more tasks that i expected. The column is called 'Artikel' but that is arbitrary, i needed a column to keep the tally.
#I'll change the name shortly
number_of_tasks.head()

   %TOURNR  Artikel
0        1      182
1        2      152
2        3      152
3        4      170
4        5      151

In [463]:
#lets add this tasks count to teh main table
tours_join_complaints_employees_taskcoount = pd.merge(tours_join_complaints_employees, number_of_tasks, on='%TOURNR', how='left')

In [464]:
#lets rename the Article column to task_count to keep track of it
tours_join_complaints_employees_taskcoount = tours_join_complaints_employees_taskcoount.rename(columns={'Artikel': 'task_count'})

In [465]:
#lets have a look at a random sample of 20 to see if its being as we expect it to be
tours_join_complaints_employees_taskcoount.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count
35423,24655,06.10.2023,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,0.0,1.0,170.0
56865,3580,26.01.2023,MONU,86,TM00011,NaN,NaN,NaN,NaN,2.0,0.0,1.0,55.0
18140,74066,02.08.2022,MONU,28,TCT0013,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0
39331,37386,21.01.2022,MONU,61,TT00002,NaN,NaN,NaN,NaN,2.0,1.0,1.0,18.0
85924,25709,06.04.2022,MONU,127,TCT0009,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2.0
59533,61420,27.07.2022,MONU,90,TP00212,NaN,NaN,NaN,NaN,2.0,0.0,1.0,161.0
89487,75856,31.10.2022,MONU,134,TP00346,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0
69917,31011,16.06.2022,MONU,103,TP00317,NaN,NaN,NaN,NaN,2.0,0.0,1.0,252.0
17454,10799,09.11.2023,MONU,27,TCT0014,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0
10537,843,11.01.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,230.0
2503,73672,05.12.2022,MONU,4,TP00342,NaN,NaN,NaN,NaN,2.0,0.0,1.0,211.0
68701,45705,09.09.2021,MONU,102,TP00316,NaN,NaN,NaN,NaN,3.0,1.0,1.0,123.0
15010,73556,06.12.2022,MONU,23,TP00214,NaN,NaN,NaN,NaN,2.0,0.0,1.0,170.0
26255,77944,16.02.2023,MONU,40,TG00035,NaN,NaN,NaN,NaN,2.0,1.0,1.0,91.0
88364,5736,16.08.2023,MONU,132,TM00002,NaN,NaN,NaN,NaN,3.0,1.0,1.0,82.0
83519,4400,06.04.2023,MONU,124,TCT0005,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0
59022,89473,21.07.2023,MONU,89,TP00121,NaN,NaN,NaN,NaN,2.0,0.0,1.0,125.0
57784,52374,16.06.2021,MONU,88,TP00118,A212018360,901.0,Tour nicht geschafft,NaN,3.0,1.0,1.0,274.0
94049,87226,09.11.2023,MONU,156,TG00013,NaN,NaN,NaN,NaN,2.0,0.0,1.0,189.0
40747,5524,03.06.2023,MONU,63,TT00004,NaN,NaN,NaN,NaN,2.0,1.0,1.0,23.0

In [466]:
#double checking what the tours CSV was like
tours.head()

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335
1    38897   07.02.2022           MONU            1        TP00335
2    73190   21.10.2022           MONU            1        TP00335
3    54020   06.08.2021           MONU            1        TP00335
4    78256   27.01.2023           MONU            1        TP00335

In [467]:
#My understaind is that every time the truck leaves it gets a unique 'tourNr'. If this route is a regular route it gets a 
#Rahmentour number as well. To keep track of how many tours are in each Rahmentour i'm going to group by that column and count
#Rahmentour with number 3 occurred 801 times
tours.groupby('%Rahmentour').count()

             %TOURNR  Einsatzdatum  Betriebsstätte  Rahmentourcode
%Rahmentour
1                800           800             800             800
2                790           790             790             790
3                801           801             801             801
4                785           785             785             785
5                781           781             781             781
...              ...           ...             ...             ...
195                1             1               1               1
196                1             1               1               1
197                1             1               1               1
198                2             2               2               2
199                1             1               1               1

[199 rows x 4 columns]

In [468]:
#there is some surprise at the number of tasks in a tour. This is to isolate it for one tour, 6276 and to double check that the 
#count/summing above is correct... It appears to be. The TOURNR is the same, all on the one date, with unique Auftr.Auftragsnr for each 
#task and a changing %DEBITOR%EINSATZSTELLE for each pick up location
tasks[tasks['%TOURNR'] == 6276]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
2350808,6276,6477,A233037454,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493451,6276,55846,A233051474,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493488,6276,83418,A233051615,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493532,6276,83417,A233051612,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
3357645,6276,44250,A233049476,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
7619821,6276,89146,A233035750,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7619858,6276,6075,A233035795,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620163,6276,36851,A233034779,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620690,6276,50790,A233023465,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
13171550,6276,28318,A233042465,31.08.2023,1,Stück,10060.0,M501400,Glas weiß Duales System,360 L MGB

In [469]:
#NOTE for tomorrow - I want work out the average number of tasks for each rahmen tour to see if the number of tasks is a factor in
#the success of the tour. I also want to see if the number of employees is a factor in the success of the tour. Possiblying having a
# column that shows if the tour had more or less or the average number of employees for that tour.

In [470]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [471]:
resources.head(1)

   %TOURNR  %Mitarbeiternummer  Zeitarbeiter_Flag  Ressource.Erster Fahrer
0    95350                   1                  0                        1

In [472]:
resources_tours = pd.merge(resources, tours, on='%TOURNR', how='inner')

In [473]:
resources_tours.head(20)

,%TOURNR,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode
0,1,278,0,1,22.08.2023,MONU,1,TP00335
1,1,279,0,0,22.08.2023,MONU,1,TP00335
2,2,280,0,1,22.08.2023,MONU,2,TP00336
3,2,281,1,0,22.08.2023,MONU,2,TP00336
4,3,239,0,1,22.08.2023,MONU,3,TP00337
5,3,282,1,0,22.08.2023,MONU,3,TP00337
6,4,283,0,1,22.08.2023,MONU,4,TP00342
7,4,284,1,0,22.08.2023,MONU,4,TP00342
8,5,285,0,1,22.08.2023,MONU,5,TP00343
9,5,286,0,0,22.08.2023,MONU,5,TP00343
10,6,287,0,1,22.08.2023,MONU,6,TP00344
11,6,288,0,0,22.08.2023,MONU,6,TP00344
12,7,289,1,0,22.08.2023,MONU,7,TP00349
13,7,290,0,1,22.08.2023,MONU,7,TP00349
14,8,291,0,1,22.08.2023,MONU,8,TP00401
15,8,292,0,0,22.08.2023,MONU,8,TP00401
16,9,293,0,1,22.08.2023,MONU,9,TP00402
17,9,26,0,0,22.08.2023,MONU,9,TP00402
18,10,294,0,1,22.08.2023,MONU,10,TP00500
19,10,295,1,0,22.08.2023,MONU,10,TP00500

In [474]:
grouped = resources_tours.groupby(['%TOURNR', '%Rahmentour']).count().reset_index()

In [475]:
grouped.head()

,%TOURNR,%Rahmentour,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,Rahmentourcode
0,1,1,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2
2,3,3,2,2,2,2,2,2
3,4,4,2,2,2,2,2,2
4,5,5,2,2,2,2,2,2

In [476]:
sorted_grouped = grouped.sort_values(by='%Rahmentour')

In [477]:
sorted_grouped = sorted_grouped[['%TOURNR','%Rahmentour','%Mitarbeiternummer']]

In [478]:
sorted_grouped = sorted_grouped.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [479]:
sorted_grouped.head(20)

       %TOURNR  %Rahmentour  employee_count
0            1            1               2
80644    80659            1               3
80570    80585            1               3
30456    30463            1               2
57410    57423            1               2
30342    30349            1               2
1157      1158            1               2
57163    57176            1               2
80401    80416            1               2
80319    80334            1               3
30155    30162            1               2
94036    94056            1               2
11981    11984            1               2
11982    11985            1               2
11983    11986            1               2
80373    80388            1               2
80751    80766            1               2
30627    30634            1               3
30628    30635            1               3
31018    31025            1               3

In [480]:
average_employee_count = sorted_grouped.groupby('%Rahmentour')['employee_count'].mean().reset_index()

In [481]:
average_employee_count

     %Rahmentour  employee_count
0              1        2.226250
1              2        2.149367
2              3        2.131086
3              4        2.095541
4              5        2.153649
..           ...             ...
194          195        1.000000
195          196        2.000000
196          197        4.000000
197          198        2.000000
198          199        3.000000

[199 rows x 2 columns]

In [482]:
everything_table = pd.merge(tours_join_complaints_employees_taskcoount, average_employee_count, on = '%Rahmentour', how = 'inner' )

In [483]:
everything_table = everything_table.rename(columns={'employee_count_x': 'employee_count', 'employee_count_y': 'average_employee_count'})

In [484]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
38902,91012,04.05.2023,MONU,60,TT00001,NaN,NaN,NaN,NaN,2.0,0.0,1.0,17.0,1.864116
51765,17223,06.04.2021,MONU,78,TP00345,NaN,NaN,NaN,NaN,2.0,0.0,1.0,150.0,2.036849
31708,59047,15.10.2021,MONU,48,TM00009,NaN,NaN,NaN,NaN,2.0,1.0,1.0,67.0,2.045512
37581,64725,13.09.2022,MONU,57,TG00692,NaN,NaN,NaN,NaN,2.0,1.0,1.0,125.0,2.035714
9121,72587,14.10.2022,MONU,12,TP00422,NaN,NaN,NaN,NaN,2.0,0.0,1.0,99.0,2.133903
50724,88069,29.08.2023,MONU,76,TP00338,NaN,NaN,NaN,NaN,2.0,0.0,1.0,149.0,2.162500
62090,68433,23.12.2022,MONU,93,TP00217,NaN,NaN,NaN,NaN,2.0,0.0,1.0,127.0,2.103145
33004,2474,31.03.2023,MONU,49,TM00010,NaN,NaN,NaN,NaN,2.0,0.0,1.0,61.0,2.261965
55837,76370,08.11.2022,MONU,85,TM00003,NaN,NaN,NaN,NaN,2.0,0.0,1.0,63.0,2.161783
91903,25522,29.11.2023,MONU,139,TAK0003,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0,1.000000
81911,6014,22.12.2023,MONU,121,TCT0002,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0,1.020649
75841,43794,04.08.2021,MONU,111,TP00327,NaN,NaN,NaN,NaN,2.0,0.0,1.0,224.0,2.257982
42364,57804,30.09.2021,MONU,65,TT00BG01,NaN,NaN,NaN,NaN,2.0,0.0,1.0,10.0,1.030391
79357,42418,08.07.2021,MONU,117,TP00314,NaN,NaN,NaN,NaN,2.0,0.0,1.0,214.0,2.313776
86184,56124,21.11.2021,MONU,129,TM00577,NaN,NaN,NaN,NaN,2.0,0.0,1.0,4.0,2.197232
58477,34578,11.11.2021,MONU,88,TP00118,A213940447,901.0,Tour nicht geschafft,NaN,3.0,1.0,1.0,305.0,2.357500
21450,82200,25.05.2023,MONU,34,TG00021,NaN,NaN,NaN,NaN,2.0,0.0,1.0,197.0,2.087533
94075,88208,27.11.2023,MONU,156,TG00013,NaN,NaN,NaN,NaN,2.0,0.0,1.0,194.0,2.242424
55737,40746,23.02.2021,MONU,85,TM00003,NaN,NaN,NaN,NaN,2.0,0.0,1.0,61.0,2.161783
46930,85133,23.06.2023,MONU,72,TP00211,NaN,NaN,NaN,NaN,2.0,0.0,1.0,159.0,2.220126

In [485]:
everything_table[everything_table.Rahmentourcode == 'TP00433']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
10458,64927,07.09.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,NaN,2.262895
10459,34981,22.11.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,0.0,1.0,159.0,2.262895
10460,11200,16.11.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,2.0,1.0,149.0,2.262895
10461,27513,26.04.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,134.0,2.262895
10462,79764,13.03.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,237.0,2.262895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11054,32179,16.05.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,164.0,2.262895
11055,59879,25.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,160.0,2.262895
11056,33768,29.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,1.0,1.0,141.0,2.262895
11057,77914,16.02.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0,2.262895
11058,89664,12.04.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,147.0,2.262895

#I want to add tour times

In [486]:
tour_times = pd.read_csv('data/24-04-24/Tour_times.csv')

In [487]:
tour_times.head(1)

   %TOURNR Einsatzdatum Startuhrzeit Endeuhrzeit Ausgangspunkt
0    50486   02.01.2021     00:00:00    00:00:00           NaN

In [488]:
everything_table.head(1)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0,149.0,2.22625

In [489]:
everything_table = pd.merge(everything_table, tour_times, on=['%TOURNR', 'Einsatzdatum'], how='inner')

In [490]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt
20231,63632,01.09.2022,MONU,32,TG00014,NaN,NaN,NaN,NaN,2.0,1.0,1.0,109.0,2.043328,05:47:42,09:42:11,BR_WESTH
43623,15661,16.03.2021,MONU,67,TP00112,NaN,NaN,NaN,NaN,2.0,0.0,1.0,183.0,2.184576,05:11:28,13:00:25,NaN
89949,57309,08.12.2022,MONU,135,TP00348,NaN,NaN,NaN,NaN,2.0,0.0,1.0,170.0,2.085459,05:55:11,13:37:56,BR_MONU
62353,87028,04.08.2023,MONU,93,TP00217,NaN,NaN,NaN,NaN,2.0,0.0,1.0,126.0,2.103145,05:24:39,12:50:20,BR_HULT
20188,64281,08.09.2022,MONU,32,TG00014,NaN,NaN,NaN,NaN,2.0,0.0,1.0,116.0,2.043328,05:45:18,13:09:52,BR_WESTH
31918,36020,06.12.2021,MONU,48,TM00009,NaN,NaN,NaN,NaN,2.0,0.0,1.0,84.0,2.045512,05:47:04,13:33:11,NaN
75482,64775,13.09.2022,MONU,110,TP00326,NaN,NaN,NaN,NaN,3.0,0.0,1.0,173.0,2.174079,05:42:43,15:04:03,BR_MONU
90550,32663,23.05.2022,MONU,136,TCT0011,NaN,NaN,NaN,NaN,1.0,0.0,1.0,6.0,1.040462,00:00:00,00:00:00,NaN
34632,78429,31.01.2023,MONU,52,TPIGLU0750,NaN,NaN,NaN,NaN,1.0,0.0,1.0,27.0,1.132903,05:43:39,13:41:23,BR_WESTH
90255,17230,31.03.2021,MONU,135,TP00348,NaN,NaN,NaN,NaN,2.0,0.0,1.0,141.0,2.085459,05:10:59,14:09:49,NaN
66757,23105,01.04.2022,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.088710,05:28:35,13:28:27,NaN
33022,66149,06.10.2022,MONU,49,TM00010,NaN,NaN,NaN,NaN,2.0,0.0,1.0,86.0,2.261965,04:38:38,16:25:32,BR_MONU
60747,4225,31.10.2023,MONU,91,TP00213,NaN,NaN,NaN,NaN,2.0,0.0,1.0,130.0,2.217005,05:37:33,13:08:22,BR_HULT
30126,25676,14.04.2022,MONU,46,TM00007,NaN,NaN,NaN,NaN,2.0,1.0,1.0,48.0,2.083014,05:17:31,14:00:07,NaN
18615,49959,10.01.2022,MONU,30,TG00010,NaN,NaN,NaN,NaN,2.0,0.0,1.0,247.0,2.081425,05:40:29,13:29:36,NaN
17843,29551,04.05.2021,MONU,27,TCT0014,NaN,NaN,NaN,NaN,1.0,0.0,1.0,2.0,1.004615,00:00:00,00:00:00,NaN
14554,91877,20.04.2023,MONU,22,TP00111,NaN,NaN,NaN,NaN,2.0,1.0,1.0,271.0,2.157960,07:20:08,14:23:45,BR_LENG
49955,20604,27.05.2021,MONU,75,TP00334,NaN,NaN,NaN,NaN,3.0,0.0,1.0,395.0,4.298526,06:00:28,13:17:09,NaN
94741,28933,04.05.2021,MONU,171,TP00301,NaN,NaN,NaN,NaN,2.0,0.0,1.0,132.0,2.111675,05:26:53,14:46:33,NaN
5326,82893,07.03.2023,MONU,7,TP00349,NaN,NaN,NaN,NaN,2.0,0.0,1.0,190.0,2.021601,00:00:00,00:00:00,BR_MONU

In [491]:
everything_table.Einsatzdatum = pd.to_datetime(everything_table.Einsatzdatum, format="%d.%m.%Y")

In [492]:
everything_table['year'] = everything_table.Einsatzdatum.dt.year

In [493]:
everything_table['month'] = everything_table.Einsatzdatum.dt.month_name()
everything_table['month_number'] = everything_table.Einsatzdatum.dt.month
everything_table['day'] = everything_table.Einsatzdatum.dt.day_name()
everything_table['day_number'] = everything_table.Einsatzdatum.dt.day

In [494]:
everything_table['rubbish_type'] = everything_table['Rahmentourcode'].str.extract(r'(\D+)')

In [495]:
rahmehentour_values = everything_table['%Rahmentour'].value_counts().to_list()

In [496]:
rahmentourcode_values = everything_table['Rahmentourcode'].value_counts().to_list()

In [497]:
if rahmehentour_values == rahmentourcode_values:
    print('They are the same')

They are the same

In [498]:
everything_table.to_pickle('data/24-04-24/everything_table.pkl')

In [499]:
everything_table[everything_table['Rahmentourcode'] == 'TP00334']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
49229,53068,2021-06-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,3.0,1.0,1.0,412.0,4.298526,05:42:50,14:32:41,NaN,2021,June,6,Tuesday,22,TP
49230,87822,2023-08-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,259.0,4.298526,06:02:44,13:21:37,BR_RUDOWER,2023,August,8,Tuesday,22,TP
49231,4738,2023-06-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,352.0,4.298526,05:56:51,14:12:10,BR_RUDOWER,2023,June,6,Thursday,8,TP
49232,77255,2023-08-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,3.0,1.0,259.0,4.298526,06:17:45,12:48:49,BR_RUDOWER,2023,August,8,Tuesday,8,TP
49233,81435,2023-04-06,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,346.0,4.298526,06:00:02,13:51:13,BR_RUDOWER,2023,April,4,Thursday,6,TP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,280.0,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP
50039,79431,2023-02-23,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,5.0,1.0,359.0,4.298526,07:03:26,14:16:20,BR_NOBEL,2023,February,2,Thursday,23,TP
50040,53732,2021-08-25,MONU,75,TP00334,NaN,NaN,NaN,NaN,2.0,1.0,1.0,318.0,4.298526,05:43:52,14:39:10,NaN,2021,August,8,Wednesday,25,TP
50041,8569,2023-10-09,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,3.0,1.0,415.0,4.298526,05:43:58,14:12:42,BR_RUDOWER,2023,October,10,Monday,9,TP
50042,57299,2022-12-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,353.0,4.298526,06:11:50,14:00:45,BR_NOBEL,2022,December,12,Thursday,8,TP

In [500]:
len(tasks)

13242155

In [501]:
tasks = tasks.drop_duplicates()
len(tasks)

13242155

In [502]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [503]:
everything_table[everything_table['%TOURNR'] == 82001]

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,280.0,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP

In [504]:
tasks[tasks['%TOURNR'] == 82001]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
379407,82001,27325,A230752989,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
379429,82001,3572,A230746052,01.03.2023,2,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972480,82001,41169,A230754343,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972681,82001,21720,A230752529,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972778,82001,82882,A230756594,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
9703594,82001,63870,A230748717,01.03.2023,3,Stück,10040.0,M610200,"5.01 Altpapier, gemischt",240 L MGB
13140698,82001,20643,A230752418,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141334,82001,33085,A230753332,01.03.2023,3,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141462,82001,40967,A230755410,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13194773,82001,59176,A230740122,01.03.2023,1,Stück,10460.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB Fremdbehälter

In [505]:
tasks_copy  = tasks.copy()

In [506]:
rahmentour_code = everything_table[['%TOURNR','Rahmentourcode']]

In [507]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [508]:
tasks_copy = pd.merge(tasks_copy, rahmentour_code, on='%TOURNR', how='left')

In [509]:
tasks_copy.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel,Rahmentourcode
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014

In [510]:
tasks_copy2 = tasks_copy.groupby(['%TOURNR', 'Rahmentourcode']).count().reset_index()

In [511]:
tasks_copy2.head()

,%TOURNR,Rahmentourcode,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,1,TP00335,182,182,182,182,182,182,182,182,182
1,2,TP00336,152,152,152,152,152,152,152,152,152
2,3,TP00337,152,152,152,152,152,152,152,152,152
3,4,TP00342,170,170,170,170,170,170,170,170,170
4,5,TP00343,151,151,151,151,151,151,151,151,151

In [512]:
tasks_copy2_group = tasks_copy2.groupby('Rahmentourcode')['Artikel'].mean().reset_index()

In [513]:
tasks_copy2_group = tasks_copy2_group.rename(columns={'Artikel': 'average_tasks'})

In [514]:
tasks_copy2_group.sort_values(by='average_tasks', ascending=False)

    Rahmentourcode  average_tasks
146        TP00334     346.202771
131        TP00318     307.929577
141        TP00329     284.872340
107        TP00118     276.418043
130        TP00317     263.078105
..             ...            ...
182        TSL0001       0.800000
29       TCTWBS005       0.750000
192        TT00009       0.700000
8        TAKWBS006       0.000000
7        TAKWBS005       0.000000

[196 rows x 2 columns]

In [515]:
everything_table.sample(10)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
6274,5262,2023-09-29,MONU,8,TP00401,NaN,NaN,NaN,NaN,2.0,1.0,1.0,165.0,2.153266,05:26:06,13:21:27,BR_MONU,2023,September,9,Friday,29,TP
35225,63475,2022-09-14,MONU,53,TG00042,NaN,NaN,NaN,NaN,2.0,1.0,1.0,175.0,2.010638,05:41:45,13:17:45,BR_WESTH,2022,September,9,Wednesday,14,TG
94005,67202,2023-11-15,MONU,156,TG00013,NaN,NaN,NaN,NaN,2.0,0.0,1.0,224.0,2.242424,05:24:55,13:10:21,NaN,2023,November,11,Wednesday,15,TG
23623,27830,2022-04-29,MONU,37,TG00031,NaN,NaN,NaN,NaN,2.0,0.0,1.0,178.0,2.075899,05:33:25,13:45:10,NaN,2022,April,4,Friday,29,TG
1689,21105,2023-08-14,MONU,3,TP00337,NaN,NaN,NaN,NaN,2.0,0.0,1.0,237.0,2.131086,05:56:55,13:53:26,BR_RUDOWER,2023,August,8,Monday,14,TP
82846,60670,2022-07-14,MONU,123,TCT0004,NaN,NaN,NaN,NaN,2.0,0.0,1.0,4.0,1.131195,00:00:00,00:00:00,NaN,2022,July,7,Thursday,14,TCT
980,52273,2021-06-14,MONU,2,TP00336,NaN,NaN,NaN,NaN,3.0,0.0,1.0,195.0,2.149367,06:45:59,14:24:33,NaN,2021,June,6,Monday,14,TP
51383,77893,2023-02-09,MONU,77,TP00339,NaN,NaN,NaN,NaN,2.0,0.0,1.0,132.0,2.148241,05:30:39,13:27:38,BR_NOBEL,2023,February,2,Thursday,9,TP
47817,65331,2022-09-26,MONU,73,TP00331,NaN,NaN,NaN,NaN,2.0,0.0,1.0,179.0,2.323270,05:19:08,13:47:15,BR_NOBEL,2022,September,9,Monday,26,TP
62689,60964,2022-07-18,MONU,94,TP00218,NaN,NaN,NaN,NaN,2.0,1.0,1.0,122.0,2.076336,05:01:01,13:50:58,BR_HULT,2022,July,7,Monday,18,TP

In [516]:
everything_table = pd.merge(everything_table, tasks_copy2_group, on='Rahmentourcode', how='left')

In [517]:
everything_table.columns

Index(['%TOURNR', 'Einsatzdatum', 'Betriebsstätte', '%Rahmentour',
       'Rahmentourcode', 'Belegnr.', 'Reklamationsgrund', 'Grund',
       'Reklamationsuntergrund Beschreibung', 'employee_count',
       'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer', 'task_count',
       'average_employee_count', 'Startuhrzeit', 'Endeuhrzeit',
       'Ausgangspunkt', 'year', 'month', 'month_number', 'day', 'day_number',
       'rubbish_type', 'average_tasks'],
      dtype='object')

In [518]:
everything_table = everything_table[['%TOURNR',
                            'Einsatzdatum',
                            'Betriebsstätte',
                            '%Rahmentour',
                            'Rahmentourcode',
                            'Belegnr.',
                            'Reklamationsgrund',
                            'Grund',
                            'Reklamationsuntergrund Beschreibung', 
                            'Startuhrzeit',
                            'Endeuhrzeit',
                            'Ausgangspunkt',
                            'year',
                            'month',
                            'month_number',
                            'day',
                            'day_number',
                            'rubbish_type',
                            'Zeitarbeiter_Flag',
                            'Ressource.Erster Fahrer', 
                            'employee_count',
                            'average_employee_count',
                            'average_tasks',
                            'task_count']]

In [519]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,average_employee_count,average_tasks,task_count
69520,78374,2023-01-30,MONU,103,TP00317,NaN,NaN,NaN,NaN,04:11:43,15:03:32,BR_MONU,2023,January,1,Monday,30,TP,3.0,1.0,1.0,2.224490,263.078105,300.0
11885,47263,2021-12-09,MONU,17,TP00222,NaN,NaN,NaN,NaN,05:33:18,13:27:11,NaN,2021,December,12,Thursday,9,TP,2.0,0.0,1.0,2.223108,139.889336,131.0
66582,50044,2022-01-10,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,05:30:52,13:49:21,NaN,2022,January,1,Monday,10,TGIGLU,1.0,0.0,1.0,1.088710,2.398347,1.0
792,8657,2023-09-13,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:37:44,13:13:46,BR_RUDOWER,2023,September,9,Wednesday,13,TP,2.0,0.0,1.0,2.226250,164.097592,164.0
14336,16195,2021-03-27,MONU,22,TP00111,NaN,NaN,NaN,NaN,05:17:10,10:59:43,NaN,2021,March,3,Saturday,27,TP,2.0,0.0,1.0,2.157960,215.568878,186.0
49706,31285,2022-06-20,MONU,75,TP00334,NaN,NaN,NaN,NaN,06:00:49,14:36:19,NaN,2022,June,6,Monday,20,TP,6.0,4.0,1.0,4.298526,346.202771,425.0
66793,31366,2022-06-21,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN,05:20:03,14:33:29,BR_WESTH,2022,June,6,Tuesday,21,TGIGLU,1.0,0.0,1.0,1.088710,2.398347,1.0
11954,89740,2023-08-18,MONU,17,TP00222,NaN,NaN,NaN,NaN,05:24:55,06:26:46,BR_HULT,2023,August,8,Friday,18,TP,3.0,1.0,1.0,2.223108,139.889336,126.0
49270,25635,2022-04-05,MONU,75,TP00334,NaN,NaN,NaN,NaN,05:46:00,14:37:15,NaN,2022,April,4,Tuesday,5,TP,3.0,0.0,1.0,4.298526,346.202771,268.0
14264,94506,2023-01-06,MONU,22,TP00111,NaN,NaN,NaN,NaN,05:27:54,13:39:18,BR_LENG,2023,January,1,Friday,6,TP,2.0,1.0,1.0,2.157960,215.568878,240.0
23711,81302,2023-04-11,MONU,37,TG00031,NaN,NaN,NaN,NaN,05:39:39,13:12:14,BR_WESTH,2023,April,4,Tuesday,11,TG,2.0,0.0,1.0,2.075899,174.530201,173.0
75439,49798,2022-01-04,MONU,110,TP00326,NaN,NaN,NaN,NaN,05:56:29,15:47:32,NaN,2022,January,1,Tuesday,4,TP,2.0,0.0,1.0,2.174079,235.550318,177.0
55955,77399,2022-09-28,MONU,85,TM00003,NaN,NaN,NaN,NaN,05:05:27,13:10:03,BR_MONU,2022,September,9,Wednesday,28,TM,2.0,0.0,1.0,2.161783,62.122919,50.0
12444,30913,2022-06-15,MONU,18,TP00423,NaN,NaN,NaN,NaN,05:51:43,14:47:13,NaN,2022,June,6,Wednesday,15,TP,2.0,0.0,1.0,2.178499,160.824847,168.0
33466,9218,2023-11-28,MONU,50,TGIGLU0711,NaN,NaN,NaN,NaN,05:16:09,13:04:13,BR_WESTH,2023,November,11,Tuesday,28,TGIGLU,2.0,0.0,1.0,1.126050,3.403361,36.0
37668,85495,2023-09-21,MONU,57,TG00692,NaN,NaN,NaN,NaN,05:14:12,13:24:51,BR_WESTH,2023,September,9,Thursday,21,TG,2.0,0.0,1.0,2.035714,78.205357,72.0
21958,70981,2022-06-03,MONU,34,TG00021,NaN,NaN,NaN,NaN,08:58:29,13:18:38,NaN,2022,June,6,Friday,3,TG,3.0,0.0,1.0,2.087533,177.057257,219.0
87351,946,2023-07-20,MONU,131,TP00328,NaN,NaN,NaN,NaN,05:22:40,15:28:00,BR_MONU,2023,July,7,Thursday,20,TP,2.0,0.0,1.0,2.128750,237.779040,244.0
94881,43688,2021-07-26,MONU,171,TP00301,NaN,NaN,NaN,NaN,05:30:58,14:17:40,NaN,2021,July,7,Monday,26,TP,2.0,0.0,1.0,2.111675,170.581633,188.0
34731,18745,2021-04-20,MONU,52,TPIGLU0750,NaN,NaN,NaN,NaN,05:47:08,14:22:59,NaN,2021,April,4,Tuesday,20,TPIGLU,1.0,0.0,1.0,1.132903,21.863636,19.0