In [627]:
import pandas as pd

In [628]:
#tours csv dataframe
tours = pd.read_csv('/Users/barry/n3xtcoder/data/24-04-24/Tour.csv')

In [629]:
#complaints csv dataframe
complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/3590055005.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [630]:
pd.set_option('display.max_columns', None)

In [631]:
len(tours)

138953

In [632]:
#there is a fair few duplicates to get rid of
tours = tours.drop_duplicates()

In [633]:
len(tours)

95349

In [634]:
#these are not full duplicates. We're only interested in the complaint reason 901. If this happens all subsequent tasks on 
#that tour also get marked with this reason. We're only interested in the first instance of this reason.
complaints = complaints.drop_duplicates(subset='%TOURNR', keep='first')

In [635]:
#isolating the 901 reason 'Tour nicht geschafft'
complaints = complaints[complaints.Reklamationsgrund == 901.0]

In [636]:
complaints.head()

,%TOURNR,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
100,163663,A240916831,901,Tour nicht geschafft,Tourüberlastung
682,166324,A241175733,901,Tour nicht geschafft,Fahrzeugausfall
725,121217,A241176514,901,Tour nicht geschafft,Tourüberlastung
750,166005,A241185159,901,Tour nicht geschafft,Tourüberlastung
753,121221,A241185282,901,Tour nicht geschafft,Tourüberlastung

In [637]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [638]:
#i'm doing a left join here. This means all tours are kept and only the complaints that match are added to the dataframe.
tours_join_complaints = pd.merge(tours, complaints, on='%TOURNR', how='left')

In [639]:
tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0].head(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
358,14094,27.12.2023,MONU,1,TP00335,A234530422,901.0,Tour nicht geschafft,Zeitarbeiterproblem
367,18690,15.04.2021,MONU,1,TP00335,A211251520,901.0,Tour nicht geschafft,NaN
1360,39368,30.06.2022,MONU,2,TP00336,A222253580,901.0,Tour nicht geschafft,Tourüberlastung
1522,25310,04.12.2023,MONU,2,TP00336,A234247715,901.0,Tour nicht geschafft,Fahrzeugausfall
2720,59206,14.10.2021,MONU,4,TP00342,A213546939,901.0,Tour nicht geschafft,NaN
3085,66775,02.11.2022,MONU,4,TP00342,A223849279,901.0,Tour nicht geschafft,Fahrzeugausfall
4962,12752,04.12.2023,MONU,7,TP00349,A234245724,901.0,Tour nicht geschafft,Fahrzeugausfall
5309,95306,06.12.2023,MONU,7,TP00349,A234290562,901.0,Tour nicht geschafft,Zeitarbeiterproblem
5444,34449,08.11.2021,MONU,7,TP00349,A213816212,901.0,Tour nicht geschafft,NaN
5671,31297,20.06.2022,MONU,8,TP00401,A222105779,901.0,Tour nicht geschafft,Fahrzeugausfall
5797,14958,12.03.2021,MONU,8,TP00401,A210803119,901.0,Tour nicht geschafft,NaN
6011,88626,05.12.2023,MONU,8,TP00401,A234268887,901.0,Tour nicht geschafft,Fahrzeug voll
6813,34951,17.11.2021,MONU,9,TP00402,A214019612,901.0,Tour nicht geschafft,NaN
6819,35040,23.11.2021,MONU,9,TP00402,A214007316,901.0,Tour nicht geschafft,NaN
6821,34952,18.11.2021,MONU,9,TP00402,A213969932,901.0,Tour nicht geschafft,NaN
7020,55778,15.11.2021,MONU,9,TP00402,A213879235,901.0,Tour nicht geschafft,NaN
7364,31676,27.06.2022,MONU,10,TP00500,A222190645,901.0,Tour nicht geschafft,Tourüberlastung
7369,31770,24.06.2022,MONU,10,TP00500,A222190258,901.0,Tour nicht geschafft,Tourüberlastung
7424,33737,29.10.2021,MONU,10,TP00500,A213766789,901.0,Tour nicht geschafft,NaN
7504,27898,29.04.2022,MONU,10,TP00500,A221484759,901.0,Tour nicht geschafft,Tourüberlastung

In [640]:
len(tours)

95349

In [641]:
#double checking that the len of tours_join_complaints is the same as the original tours dataframe
len(tours_join_complaints)

95349

In [642]:
#to get a sense of how many complaints of 'tour nicht geschafft' there are
tours_join_complaints.Reklamationsgrund.value_counts()

Reklamationsgrund
901.0    1233
Name: count, dtype: int64

In [643]:
len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0])

1233

In [644]:
#this is the percentage of tours that ARE successfully completed. The amount which are 'unsuccessful' is the inverse of this. 1.13%
(len(tours_join_complaints)-len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0]))/len(tours_join_complaints) *100

98.70685586634364

In [645]:
#this is an aside to just double check that w're not missing any complaints that might be relevant to our analysis
complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1281685158.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [646]:
complaints2.Grund.unique()

array(['BB Deckel beschädigt', 'Ü Ladestelle beräumt',
       'VSS Schlüssel/Code erforderlich',
       'NB nicht bereitgestellter Behälter', 'TV Transportweg versperrt',
       'CT/AK Container/Mulde  defekt',
       'Leerung ist erfolgt - Foto erstellt',
       'Freilaufender Hund - GS nicht betreten',
       'Standort für Behälter unklar', 'TB Transportweg Baustelle',
       'VS kein Schlüssel erforderlich', 'Tour nicht geschafft',
       'Behälter zu schwer', 'RC Behälter vermüllt', 'BB Rad beschädigt',
       'VST Tresorproblem', 'leerer Behälter - 0 Menge -',
       'Ü nur Behälter geladen', 'Z3 Schloss fehlt od. defekt',
       'Behälter-Rumpf defekt', 'BB Zapfen beschädigt',
       'VB Verdreckter Behälter', 'Behälter zuviel',
       'LV Ladestelle vermüllt', 'Ü Erhöhung erforderlich',
       'Rattenbefall - keine Leerung', 'Fahrstuhl defekt', 'Fremdtonne',
       'Behälter in Schüttung gefallen', 'Brenner - Behälter beschädigt',
       'CT/AK - Leerfahrt', 'Fahrzeugausfall/Fahrzeugwechsel',
       'AFM - Meldung E-Schrott', 'AFM - Auftragsveränderungen',
       'Storno - Leistung storniert, keine Leerung',
       'TT - Schlüssel für TT-Abfuhr',
       'AFM - Entsorger hat nicht geladen', 'Behälter - Reste angefroren',
       'Tourenplanung neu', 'Behälter falsch/nicht zurückgestellt',
       'Unfall - Fahrzeug - Eigenverschulden',
       'AFM - Standplatzbetreuung',
       'Unfall - Fahrzeug - Fremdverschulden',
       'Nicht geladen - Nachleerung', 'Größe falsch',
       'SZ /Urlaub/Schließzeit/VS', nan, 'UFC-Behälter defekt',
       'SOV Sonstige Vorkommnisse', 'IGLU-Behälter defekt',
       'Unfall - Haftpflichtschaden/keine Fahrzeugbeteiligung',
       'Behälter nur gestellt', 'TB Transportweg Baustelle kurz',
       'CT/AK - Material/Falschbefüllung',
       'Nicht geladen - MMM mitnehmen', 'Behälter fehlt',
       'Coronaschließung - keine Entsorgung',
       'RE/GS/MA für Kunden unklar', 'Nicht vollständig geladen',
       'Nicht Geladen - Gutschrift', 'Bemerkungstexte anpassen',
       'Falsche RE/GS/MA', 'RE falsch: Leistung, Menge, Preis',
       'Keine RE/GS/MA erhalten', 'Behälter nicht wieder verschlossen',
       'Nicht nachgeladen - Gutschrift', 'Glasabzug',
       'Fehlende RE/GS, Rechnungskopie', 'Fehlverhalten allgemein',
       'Einzugsermächtigung nicht berücksichtigt',
       'Stammdaten nicht korrekt',
       'Tor/Tür/Käfig/Keller nicht wieder verschlossen'], dtype=object)

In [647]:
tours_join_complaints.Reklamationsgrund.unique()

array([ nan, 901.])

In [648]:
# a random sample of the tours. the successful tours are marked with NaN
tours_join_complaints.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
53265,4633,05.06.2023,MONU,81,TP00421,NaN,NaN,NaN,NaN
34403,26748,19.04.2022,MONU,51,TGIGLU0712,NaN,NaN,NaN,NaN
4141,43656,21.07.2021,MONU,6,TP00344,NaN,NaN,NaN,NaN
90733,30687,14.06.2022,MONU,136,TCT0011,NaN,NaN,NaN,NaN
3723,20510,25.05.2021,MONU,5,TP00343,NaN,NaN,NaN,NaN
47547,38525,11.02.2022,MONU,72,TP00211,NaN,NaN,NaN,NaN
7771,51189,01.06.2021,MONU,10,TP00500,NaN,NaN,NaN,NaN
20993,83110,31.05.2023,MONU,33,TG00020,NaN,NaN,NaN,NaN
43135,83311,02.06.2023,MONU,67,TP00112,NaN,NaN,NaN,NaN
1808,84431,02.02.2023,MONU,3,TP00337,NaN,NaN,NaN,NaN
58803,12420,20.01.2021,MONU,89,TP00121,NaN,NaN,NaN,NaN
69113,54759,18.08.2021,MONU,102,TP00316,NaN,NaN,NaN,NaN
18323,76133,30.11.2022,MONU,29,TCT0016,NaN,NaN,NaN,NaN
47951,94883,13.01.2023,MONU,73,TP00331,NaN,NaN,NaN,NaN
66598,32356,18.05.2022,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN
61402,86144,30.06.2023,MONU,92,TP00216,NaN,NaN,NaN,NaN
62625,25532,14.12.2023,MONU,94,TP00218,NaN,NaN,NaN,NaN
35373,3746,03.02.2023,MONU,54,TP00116,NaN,NaN,NaN,NaN
92935,44718,06.09.2021,MONU,150,TP00329,NaN,NaN,NaN,NaN
1508,25809,07.04.2022,MONU,2,TP00336,NaN,NaN,NaN,NaN

In [649]:
#this is the CSV related to employees. how many there are, if thye are 'Zeitarbeiter' and if the tour had the main driver
resources = pd.read_csv('data/24-04-24/Ressource.csv')

In [650]:
#a tour can have multiple employees. Thus a tour can have multiple rows in the resources dataframe.
#I'm grouping by the tour number and counting the number of employees on each tour by counting the number of rows.
exmployee_count = resources.groupby('%TOURNR').count().reset_index()[['%TOURNR', '%Mitarbeiternummer']]

In [651]:
#here we want to do a similar groupby but instead of counting the rows we are summing the values.
#if a row has a 1 in the zeit arbieter flag and the same tour has another row, meaning another mitarbeiter, who also has this one
#that means we have 2 Zeitarbeiters - similar logic for the 'Ressource.Erster Fahrer' column
summed_employee_flags = resources.groupby('%TOURNR').sum().reset_index()[['%TOURNR', 'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer']]

In [652]:
#Join those two tables to get the 'counted' employees and the 'summed' zeitarbeiter and main driver
processed_employees = pd.merge(exmployee_count, summed_employee_flags, on='%TOURNR', how='inner')

In [653]:
processed_employees = processed_employees.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [654]:
#employee_count = resources.groupby('%TOURNR').count()

In [655]:
processed_employees.sample(20)

        %TOURNR  employee_count  Zeitarbeiter_Flag  Ressource.Erster Fahrer
58759     58772               2                  1                        1
108727   108757               2                  0                        1
150267   150297               2                  1                        1
114177   114207               2                  1                        1
91207     91225               2                  0                        1
59918     59931               2                  0                        1
164354   164384               1                  0                        1
3336       3338               2                  1                        1
81810     81825               1                  0                        1
141661   141691               1                  0                        1
11146     11149               2                  1                        1
53348     53360               1                  0                        1
81701     81716               3                  1                        1
152191   152221               1                  0                        1
79087     79102               2                  1                        1
104759   104789               2                  0                        1
19251     19255               3                  1                        1
59841     59854               3                  2                        1
162500   162530               2                  0                        1
45859     45870               3                  2                        1

In [656]:
#now join that table to my combined tours/complaints table
tours_join_complaints_employees = pd.merge(tours_join_complaints, processed_employees, on='%TOURNR', how='left')

In [657]:
tours_join_complaints_employees.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0
1,38897,07.02.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
2,73190,21.10.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
3,54020,06.08.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,78256,27.01.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0

In [658]:
#lets add in my tasks table
tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1245601721.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

In [659]:
tasks = tasks.drop_duplicates()

In [660]:
#A tour can have many tasks in it. I want to see how many each Tour has and then join that to my main table

number_of_tasks = tasks.groupby('%TOURNR').count().reset_index()[['%TOURNR','Artikel']]

In [661]:
#The tours have more tasks that i expected. The column is called 'Artikel' but that is arbitrary, i needed a column to keep the tally.
#I'll change the name shortly
number_of_tasks.head()

   %TOURNR  Artikel
0        1      182
1        2      152
2        3      152
3        4      170
4        5      151

In [662]:
#lets add this tasks count to teh main table
tours_join_complaints_employees_taskcoount = pd.merge(tours_join_complaints_employees, number_of_tasks, on='%TOURNR', how='left')

In [663]:
#lets rename the Article column to task_count to keep track of it
tours_join_complaints_employees_taskcoount = tours_join_complaints_employees_taskcoount.rename(columns={'Artikel': 'task_count'})

In [664]:
#lets have a look at a random sample of 20 to see if its being as we expect it to be
tours_join_complaints_employees_taskcoount.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count
59726,27672,11.05.2022,MONU,90,TP00212,NaN,NaN,NaN,NaN,2.0,0.0,1.0,220.0
59275,27614,27.04.2022,MONU,89,TP00121,NaN,NaN,NaN,NaN,2.0,1.0,1.0,173.0
43551,57813,04.10.2021,MONU,67,TP00112,NaN,NaN,NaN,NaN,2.0,0.0,1.0,207.0
20792,34197,03.11.2021,MONU,33,TG00020,NaN,NaN,NaN,NaN,2.0,1.0,1.0,186.0
18812,90328,02.05.2023,MONU,30,TG00010,NaN,NaN,NaN,NaN,2.0,1.0,1.0,291.0
72721,21353,17.03.2022,MONU,107,TP00322,NaN,NaN,NaN,NaN,3.0,0.0,1.0,220.0
15440,15799,18.03.2021,MONU,24,TG00024,NaN,NaN,NaN,NaN,2.0,1.0,1.0,132.0
31908,46620,22.09.2021,MONU,48,TM00009,NaN,NaN,NaN,NaN,2.0,1.0,1.0,68.0
58213,31728,24.06.2022,MONU,88,TP00118,NaN,NaN,NaN,NaN,2.0,0.0,1.0,297.0
6382,22770,29.03.2022,MONU,9,TP00402,NaN,NaN,NaN,NaN,3.0,1.0,1.0,198.0
24837,63260,29.08.2022,MONU,38,TG00032,NaN,NaN,NaN,NaN,2.0,0.0,1.0,362.0
13470,79822,14.03.2023,MONU,20,TP00117,NaN,NaN,NaN,NaN,2.0,0.0,1.0,212.0
35515,23961,10.02.2021,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,0.0,1.0,219.0
60414,4550,23.05.2023,MONU,91,TP00213,NaN,NaN,NaN,NaN,3.0,1.0,1.0,154.0
5491,82692,03.03.2023,MONU,7,TP00349,NaN,NaN,NaN,NaN,2.0,0.0,1.0,150.0
88717,9641,30.10.2023,MONU,132,TM00002,NaN,NaN,NaN,NaN,3.0,1.0,1.0,62.0
60152,26164,11.04.2022,MONU,91,TP00213,NaN,NaN,NaN,NaN,2.0,0.0,1.0,155.0
49530,61982,28.07.2022,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,4.0,1.0,358.0
45680,7349,25.08.2023,MONU,70,TP00115,NaN,NaN,NaN,NaN,2.0,0.0,1.0,161.0
72542,67625,17.11.2022,MONU,106,TP00321,NaN,NaN,NaN,NaN,3.0,0.0,1.0,163.0

In [665]:
#double checking what the tours CSV was like
tours.head()

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335
1    38897   07.02.2022           MONU            1        TP00335
2    73190   21.10.2022           MONU            1        TP00335
3    54020   06.08.2021           MONU            1        TP00335
4    78256   27.01.2023           MONU            1        TP00335

In [666]:
#My understaind is that every time the truck leaves it gets a unique 'tourNr'. If this route is a regular route it gets a 
#Rahmentour number as well. To keep track of how many tours are in each Rahmentour i'm going to group by that column and count
#Rahmentour with number 3 occurred 801 times
tours.groupby('%Rahmentour').count()

             %TOURNR  Einsatzdatum  Betriebsstätte  Rahmentourcode
%Rahmentour
1                800           800             800             800
2                790           790             790             790
3                801           801             801             801
4                785           785             785             785
5                781           781             781             781
...              ...           ...             ...             ...
195                1             1               1               1
196                1             1               1               1
197                1             1               1               1
198                2             2               2               2
199                1             1               1               1

[199 rows x 4 columns]

In [667]:
#there is some surprise at the number of tasks in a tour. This is to isolate it for one tour, 6276 and to double check that the 
#count/summing above is correct... It appears to be. The TOURNR is the same, all on the one date, with unique Auftr.Auftragsnr for each 
#task and a changing %DEBITOR%EINSATZSTELLE for each pick up location
tasks[tasks['%TOURNR'] == 6276]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
2350808,6276,6477,A233037454,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493451,6276,55846,A233051474,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493488,6276,83418,A233051615,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493532,6276,83417,A233051612,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
3357645,6276,44250,A233049476,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
7619821,6276,89146,A233035750,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7619858,6276,6075,A233035795,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620163,6276,36851,A233034779,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620690,6276,50790,A233023465,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
13171550,6276,28318,A233042465,31.08.2023,1,Stück,10060.0,M501400,Glas weiß Duales System,360 L MGB

In [668]:
#NOTE for tomorrow - I want work out the average number of tasks for each rahmen tour to see if the number of tasks is a factor in
#the success of the tour. I also want to see if the number of employees is a factor in the success of the tour. Possiblying having a
# column that shows if the tour had more or less or the average number of employees for that tour.

In [669]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [670]:
resources.head(1)

   %TOURNR  %Mitarbeiternummer  Zeitarbeiter_Flag  Ressource.Erster Fahrer
0    95350                   1                  0                        1

In [671]:
resources_tours = pd.merge(resources, tours, on='%TOURNR', how='inner')

In [672]:
resources_tours.head(20)

,%TOURNR,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode
0,1,278,0,1,22.08.2023,MONU,1,TP00335
1,1,279,0,0,22.08.2023,MONU,1,TP00335
2,2,280,0,1,22.08.2023,MONU,2,TP00336
3,2,281,1,0,22.08.2023,MONU,2,TP00336
4,3,239,0,1,22.08.2023,MONU,3,TP00337
5,3,282,1,0,22.08.2023,MONU,3,TP00337
6,4,283,0,1,22.08.2023,MONU,4,TP00342
7,4,284,1,0,22.08.2023,MONU,4,TP00342
8,5,285,0,1,22.08.2023,MONU,5,TP00343
9,5,286,0,0,22.08.2023,MONU,5,TP00343
10,6,287,0,1,22.08.2023,MONU,6,TP00344
11,6,288,0,0,22.08.2023,MONU,6,TP00344
12,7,289,1,0,22.08.2023,MONU,7,TP00349
13,7,290,0,1,22.08.2023,MONU,7,TP00349
14,8,291,0,1,22.08.2023,MONU,8,TP00401
15,8,292,0,0,22.08.2023,MONU,8,TP00401
16,9,293,0,1,22.08.2023,MONU,9,TP00402
17,9,26,0,0,22.08.2023,MONU,9,TP00402
18,10,294,0,1,22.08.2023,MONU,10,TP00500
19,10,295,1,0,22.08.2023,MONU,10,TP00500

In [673]:
grouped = resources_tours.groupby(['%TOURNR', '%Rahmentour']).count().reset_index()

In [674]:
grouped.head()

,%TOURNR,%Rahmentour,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,Rahmentourcode
0,1,1,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2
2,3,3,2,2,2,2,2,2
3,4,4,2,2,2,2,2,2
4,5,5,2,2,2,2,2,2

In [675]:
sorted_grouped = grouped.sort_values(by='%Rahmentour')

In [676]:
sorted_grouped = sorted_grouped[['%TOURNR','%Rahmentour','%Mitarbeiternummer']]

In [677]:
sorted_grouped = sorted_grouped.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [678]:
sorted_grouped.head(20)

       %TOURNR  %Rahmentour  employee_count
0            1            1               2
80644    80659            1               3
80570    80585            1               3
30456    30463            1               2
57410    57423            1               2
30342    30349            1               2
1157      1158            1               2
57163    57176            1               2
80401    80416            1               2
80319    80334            1               3
30155    30162            1               2
94036    94056            1               2
11981    11984            1               2
11982    11985            1               2
11983    11986            1               2
80373    80388            1               2
80751    80766            1               2
30627    30634            1               3
30628    30635            1               3
31018    31025            1               3

In [679]:
average_employee_count = sorted_grouped.groupby('%Rahmentour')['employee_count'].mean().reset_index()

In [680]:
average_employee_count

     %Rahmentour  employee_count
0              1        2.226250
1              2        2.149367
2              3        2.131086
3              4        2.095541
4              5        2.153649
..           ...             ...
194          195        1.000000
195          196        2.000000
196          197        4.000000
197          198        2.000000
198          199        3.000000

[199 rows x 2 columns]

In [681]:
everything_table = pd.merge(tours_join_complaints_employees_taskcoount, average_employee_count, on = '%Rahmentour', how = 'inner' )

In [682]:
everything_table = everything_table.rename(columns={'employee_count_x': 'employee_count', 'employee_count_y': 'average_employee_count'})

In [683]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
43753,47434,08.12.2021,MONU,68,TP00113,NaN,NaN,NaN,NaN,2.0,1.0,1.0,168.0,2.153074
64368,69169,14.02.2022,MONU,96,TP00312,NaN,NaN,NaN,NaN,3.0,1.0,1.0,231.0,2.285714
87341,27633,27.04.2022,MONU,131,TP00328,NaN,NaN,NaN,NaN,2.0,1.0,1.0,228.0,2.128750
48999,68746,08.02.2022,MONU,74,TP00332,NaN,NaN,NaN,NaN,3.0,2.0,1.0,237.0,2.255668
74522,84543,03.02.2023,MONU,109,TP00324,NaN,NaN,NaN,NaN,2.0,0.0,1.0,205.0,2.279543
43414,25052,14.03.2022,MONU,67,TP00112,NaN,NaN,NaN,NaN,2.0,1.0,1.0,217.0,2.184576
34198,30564,11.06.2022,MONU,51,TGIGLU0712,NaN,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.089394
38890,4461,20.05.2023,MONU,60,TT00001,NaN,NaN,NaN,NaN,1.0,0.0,1.0,30.0,1.864116
29656,57133,30.12.2023,MONU,45,TM00006,NaN,NaN,NaN,NaN,2.0,0.0,1.0,68.0,2.085750
40753,57386,09.12.2022,MONU,63,TT00004,NaN,NaN,NaN,NaN,1.0,0.0,1.0,8.0,1.879167
39066,70892,30.12.2023,MONU,60,TT00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,30.0,1.864116
93153,58054,08.10.2021,MONU,150,TP00329,NaN,NaN,NaN,NaN,3.0,0.0,1.0,271.0,2.913750
1524,73876,29.07.2022,MONU,2,TP00336,NaN,NaN,NaN,NaN,2.0,1.0,1.0,137.0,2.149367
29657,9773,24.11.2023,MONU,45,TM00006,NaN,NaN,NaN,NaN,3.0,1.0,1.0,71.0,2.085750
55268,38786,07.02.2022,MONU,84,TM00001,NaN,NaN,NaN,NaN,2.0,0.0,1.0,55.0,2.006337
84515,50544,05.01.2021,MONU,125,TCT0007,NaN,NaN,NaN,NaN,1.0,0.0,1.0,3.0,1.019737
81358,73945,01.08.2022,MONU,120,TAK0001,NaN,NaN,NaN,NaN,1.0,0.0,1.0,3.0,1.052098
10709,36241,01.12.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,132.0,2.262895
54618,83837,08.06.2023,MONU,84,TM00001,NaN,NaN,NaN,NaN,2.0,0.0,1.0,59.0,2.006337
59029,23621,08.02.2021,MONU,89,TP00121,NaN,NaN,NaN,NaN,2.0,0.0,1.0,198.0,2.157107

In [684]:
everything_table[everything_table.Rahmentourcode == 'TP00433']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
10458,64927,07.09.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,NaN,2.262895
10459,34981,22.11.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,0.0,1.0,159.0,2.262895
10460,11200,16.11.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,2.0,1.0,149.0,2.262895
10461,27513,26.04.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,134.0,2.262895
10462,79764,13.03.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,237.0,2.262895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11054,32179,16.05.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,164.0,2.262895
11055,59879,25.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,160.0,2.262895
11056,33768,29.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,1.0,1.0,141.0,2.262895
11057,77914,16.02.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0,2.262895
11058,89664,12.04.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,147.0,2.262895

#I want to add tour times

In [685]:
tour_times = pd.read_csv('data/24-04-24/Tour_times.csv')

In [686]:
tour_times.head(1)

   %TOURNR Einsatzdatum Startuhrzeit Endeuhrzeit Ausgangspunkt
0    50486   02.01.2021     00:00:00    00:00:00           NaN

In [687]:
everything_table.head(1)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0,149.0,2.22625

In [688]:
everything_table = pd.merge(everything_table, tour_times, on=['%TOURNR', 'Einsatzdatum'], how='inner')

In [689]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt
25392,62884,24.08.2022,MONU,39,TG00034,NaN,NaN,NaN,NaN,2.0,0.0,1.0,179.0,2.194010,06:18:41,13:32:13,BR_WESTH
16959,1413,20.01.2023,MONU,26,TCT0012,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0,1.003636,00:00:00,00:00:00,BR_WESTH
5628,27914,09.05.2022,MONU,8,TP00401,NaN,NaN,NaN,NaN,3.0,0.0,1.0,190.0,2.153266,05:43:41,14:52:37,NaN
38581,58209,07.10.2021,MONU,60,TT00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,12.0,1.864116,00:00:00,00:00:00,BR_MONU
64794,29462,07.05.2021,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,0.0,1.0,169.0,2.285714,05:45:37,13:17:11,NaN
92949,14829,13.12.2023,MONU,150,TP00329,NaN,NaN,NaN,NaN,3.0,0.0,1.0,328.0,2.913750,08:35:58,14:12:39,BR_MONU
92025,12996,11.12.2023,MONU,141,TAKWBS003,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0,1.000000,00:00:00,00:00:00,BR_WBS
82877,48721,24.12.2021,MONU,123,TCT0004,NaN,NaN,NaN,NaN,1.0,0.0,1.0,6.0,1.131195,00:00:00,00:00:00,NaN
28885,82628,03.03.2023,MONU,44,TM00005,NaN,NaN,NaN,NaN,2.0,0.0,1.0,71.0,2.027473,05:39:03,14:37:22,BR_MONU
45169,44485,25.08.2021,MONU,69,TP00114,NaN,NaN,NaN,NaN,2.0,1.0,1.0,264.0,2.125000,05:58:02,13:52:17,NaN
57830,25995,08.04.2022,MONU,88,TP00118,NaN,NaN,NaN,NaN,2.0,0.0,1.0,305.0,2.357500,05:37:43,14:14:14,NaN
52777,85508,05.07.2023,MONU,81,TP00421,NaN,NaN,NaN,NaN,2.0,0.0,1.0,179.0,2.180000,05:27:50,15:37:16,BR_MONU
67946,71162,07.06.2022,MONU,101,TP00315,NaN,NaN,NaN,NaN,2.0,0.0,1.0,175.0,2.321429,05:11:44,12:56:03,NaN
48093,20358,26.05.2021,MONU,73,TP00331,NaN,NaN,NaN,NaN,2.0,1.0,1.0,165.0,2.323270,06:05:59,15:03:46,NaN
82913,68068,23.11.2022,MONU,123,TCT0004,NaN,NaN,NaN,NaN,1.0,0.0,1.0,6.0,1.131195,00:00:00,00:00:00,BR_WESTH
19410,29435,05.05.2021,MONU,31,TG00012,NaN,NaN,NaN,NaN,2.0,0.0,1.0,196.0,2.278416,05:16:35,13:05:08,NaN
38622,56261,19.11.2021,MONU,60,TT00001,NaN,NaN,NaN,NaN,2.0,1.0,1.0,21.0,1.864116,00:00:00,00:00:00,BR_MONU
65999,52215,14.06.2021,MONU,98,TP00219,NaN,NaN,NaN,NaN,2.0,0.0,1.0,161.0,2.192938,06:05:03,13:46:52,NaN
36866,61584,25.07.2022,MONU,56,TG00027,NaN,NaN,NaN,NaN,2.0,1.0,1.0,158.0,2.043321,05:39:52,13:20:53,BR_WESTH
61750,67051,21.11.2022,MONU,93,TP00217,NaN,NaN,NaN,NaN,2.0,1.0,1.0,112.0,2.103145,05:52:28,13:05:14,BR_HULT

In [690]:
everything_table.Einsatzdatum = pd.to_datetime(everything_table.Einsatzdatum, format="%d.%m.%Y")

In [691]:
everything_table['year'] = everything_table.Einsatzdatum.dt.year

In [692]:
everything_table['month'] = everything_table.Einsatzdatum.dt.month_name()
everything_table['month_number'] = everything_table.Einsatzdatum.dt.month
everything_table['day'] = everything_table.Einsatzdatum.dt.day_name()
everything_table['day_number'] = everything_table.Einsatzdatum.dt.day

In [693]:
everything_table['rubbish_type'] = everything_table['Rahmentourcode'].str.extract(r'(\D+)')

In [694]:
rahmehentour_values = everything_table['%Rahmentour'].value_counts().to_list()

In [695]:
rahmentourcode_values = everything_table['Rahmentourcode'].value_counts().to_list()

In [696]:
if rahmehentour_values == rahmentourcode_values:
    print('They are the same')

They are the same

In [697]:
everything_table.to_pickle('data/24-04-24/everything_table.pkl')

In [698]:
everything_table[everything_table['Rahmentourcode'] == 'TP00334']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
49229,53068,2021-06-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,3.0,1.0,1.0,412.0,4.298526,05:42:50,14:32:41,NaN,2021,June,6,Tuesday,22,TP
49230,87822,2023-08-22,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,259.0,4.298526,06:02:44,13:21:37,BR_RUDOWER,2023,August,8,Tuesday,22,TP
49231,4738,2023-06-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,352.0,4.298526,05:56:51,14:12:10,BR_RUDOWER,2023,June,6,Thursday,8,TP
49232,77255,2023-08-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,3.0,1.0,259.0,4.298526,06:17:45,12:48:49,BR_RUDOWER,2023,August,8,Tuesday,8,TP
49233,81435,2023-04-06,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,346.0,4.298526,06:00:02,13:51:13,BR_RUDOWER,2023,April,4,Thursday,6,TP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,280.0,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP
50039,79431,2023-02-23,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,5.0,1.0,359.0,4.298526,07:03:26,14:16:20,BR_NOBEL,2023,February,2,Thursday,23,TP
50040,53732,2021-08-25,MONU,75,TP00334,NaN,NaN,NaN,NaN,2.0,1.0,1.0,318.0,4.298526,05:43:52,14:39:10,NaN,2021,August,8,Wednesday,25,TP
50041,8569,2023-10-09,MONU,75,TP00334,NaN,NaN,NaN,NaN,5.0,3.0,1.0,415.0,4.298526,05:43:58,14:12:42,BR_RUDOWER,2023,October,10,Monday,9,TP
50042,57299,2022-12-08,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,353.0,4.298526,06:11:50,14:00:45,BR_NOBEL,2022,December,12,Thursday,8,TP

In [699]:
len(tasks)

13242155

In [700]:
tasks = tasks.drop_duplicates()
len(tasks)

13242155

In [701]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [702]:
everything_table[everything_table['%TOURNR'] == 82001]

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
50038,82001,2023-03-01,MONU,75,TP00334,NaN,NaN,NaN,NaN,6.0,4.0,1.0,280.0,4.298526,05:36:21,13:14:50,BR_RUDOWER,2023,March,3,Wednesday,1,TP

In [703]:
tasks[tasks['%TOURNR'] == 82001]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
379407,82001,27325,A230752989,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
379429,82001,3572,A230746052,01.03.2023,2,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972480,82001,41169,A230754343,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972681,82001,21720,A230752529,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
1972778,82001,82882,A230756594,01.03.2023,1,Stück,10100.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
9703594,82001,63870,A230748717,01.03.2023,3,Stück,10040.0,M610200,"5.01 Altpapier, gemischt",240 L MGB
13140698,82001,20643,A230752418,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141334,82001,33085,A230753332,01.03.2023,3,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13141462,82001,40967,A230755410,01.03.2023,1,Stück,10060.0,M610200,"5.01 Altpapier, gemischt",360 L MGB
13194773,82001,59176,A230740122,01.03.2023,1,Stück,10460.0,M610200,"5.01 Altpapier, gemischt",1100 L MGB Fremdbehälter

In [704]:
tasks_copy  = tasks.copy()

In [705]:
rahmentour_code = everything_table[['%TOURNR','Rahmentourcode']]

In [706]:
tasks.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen

In [707]:
tasks_copy = pd.merge(tasks_copy, rahmentour_code, on='%TOURNR', how='left')

In [708]:
tasks_copy.head()

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel,Rahmentourcode
0,32437,56418,A221790082,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
1,32437,56418,A221790083,19.05.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014
2,82408,56418,A231849217,23.05.2023,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
3,46532,56418,A213241021,21.09.2021,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0004
4,25173,56418,A220934859,15.03.2022,1,Stück,20440.0,M760300,Kunststoffe,30m³ CT offen,TCT0014

In [709]:
tasks_copy2 = tasks_copy.groupby(['%TOURNR', 'Rahmentourcode']).count().reset_index()

In [710]:
tasks_copy2.head()

,%TOURNR,Rahmentourcode,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
0,1,TP00335,182,182,182,182,182,182,182,182,182
1,2,TP00336,152,152,152,152,152,152,152,152,152
2,3,TP00337,152,152,152,152,152,152,152,152,152
3,4,TP00342,170,170,170,170,170,170,170,170,170
4,5,TP00343,151,151,151,151,151,151,151,151,151

In [711]:
tasks_copy2_group = tasks_copy2.groupby('Rahmentourcode')['Artikel'].mean().reset_index()

In [712]:
tasks_copy2_group = tasks_copy2_group.rename(columns={'Artikel': 'average_tasks'})

In [713]:
tasks_copy2_group.sort_values(by='average_tasks', ascending=False)

    Rahmentourcode  average_tasks
146        TP00334     346.202771
131        TP00318     307.929577
141        TP00329     284.872340
107        TP00118     276.418043
130        TP00317     263.078105
..             ...            ...
182        TSL0001       0.800000
29       TCTWBS005       0.750000
192        TT00009       0.700000
8        TAKWBS006       0.000000
7        TAKWBS005       0.000000

[196 rows x 2 columns]

In [714]:
everything_table.sample(10)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type
65580,33661,2021-10-27,MONU,97,TP00341,NaN,NaN,NaN,NaN,2.0,0.0,1.0,154.0,2.256378,05:52:47,13:58:27,NaN,2021,October,10,Wednesday,27,TP
76174,26465,2022-04-13,MONU,111,TP00327,NaN,NaN,NaN,NaN,2.0,0.0,1.0,212.0,2.257982,06:01:12,15:27:05,NaN,2022,April,4,Wednesday,13,TP
62577,31005,2022-06-16,MONU,94,TP00218,NaN,NaN,NaN,NaN,2.0,1.0,1.0,130.0,2.076336,05:09:14,14:04:26,NaN,2022,June,6,Thursday,16,TP
59517,8691,2023-12-12,MONU,90,TP00212,NaN,NaN,NaN,NaN,2.0,0.0,1.0,159.0,2.182048,05:16:37,12:51:27,BR_HULT,2023,December,12,Tuesday,12,TP
63820,80384,2023-08-03,MONU,95,TP00311,NaN,NaN,NaN,NaN,2.0,0.0,1.0,231.0,2.374218,04:53:03,13:16:31,BR_WESTH,2023,August,8,Thursday,3,TP
41623,64996,2022-09-15,MONU,64,TT00005,NaN,NaN,NaN,NaN,2.0,1.0,1.0,22.0,1.833333,00:00:00,00:00:00,BR_MONU,2022,September,9,Thursday,15,TT
88595,59326,2021-10-20,MONU,132,TM00002,NaN,NaN,NaN,NaN,3.0,2.0,1.0,69.0,2.271820,05:14:03,13:29:19,NaN,2021,October,10,Wednesday,20,TM
30875,27291,2022-04-23,MONU,47,TM00008,NaN,NaN,NaN,NaN,3.0,2.0,1.0,66.0,2.164331,04:30:39,11:36:09,NaN,2022,April,4,Saturday,23,TM
65627,74402,2022-08-04,MONU,97,TP00341,NaN,NaN,NaN,NaN,3.0,0.0,1.0,238.0,2.256378,06:01:10,13:01:08,BR_MONU,2022,August,8,Thursday,4,TP
58195,41732,2021-07-05,MONU,88,TP00118,NaN,NaN,NaN,NaN,2.0,0.0,1.0,355.0,2.357500,06:05:50,14:22:10,NaN,2021,July,7,Monday,5,TP

In [715]:
everything_table = pd.merge(everything_table, tasks_copy2_group, on='Rahmentourcode', how='left')

In [716]:
everything_table.columns

Index(['%TOURNR', 'Einsatzdatum', 'Betriebsstätte', '%Rahmentour',
       'Rahmentourcode', 'Belegnr.', 'Reklamationsgrund', 'Grund',
       'Reklamationsuntergrund Beschreibung', 'employee_count',
       'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer', 'task_count',
       'average_employee_count', 'Startuhrzeit', 'Endeuhrzeit',
       'Ausgangspunkt', 'year', 'month', 'month_number', 'day', 'day_number',
       'rubbish_type', 'average_tasks'],
      dtype='object')

In [724]:
everything_table = everything_table[['%TOURNR',
                            'Einsatzdatum',
                            'Betriebsstätte',
                            '%Rahmentour',
                            'Rahmentourcode',
                            'Belegnr.',
                            'Grund',
                            'Reklamationsuntergrund Beschreibung', 
                            'Startuhrzeit',
                            'Endeuhrzeit',
                            'Ausgangspunkt',
                            'year',
                            'month',
                            'month_number',
                            'day',
                            'day_number',
                            'rubbish_type',
                            'Zeitarbeiter_Flag',
                            'Ressource.Erster Fahrer', 
                            'employee_count',
                            'average_employee_count',
                            'average_tasks',
                            'task_count',
                            'Reklamationsgrund']]

In [725]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Grund,Reklamationsuntergrund Beschreibung,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type,Zeitarbeiter_Flag,Ressource.Erster Fahrer,employee_count,average_employee_count,average_tasks,task_count,Reklamationsgrund
73872,77362,2022-09-22,MONU,108,TP00323,NaN,NaN,NaN,05:47:05,14:49:51,BR_MONU,2022,September,9,Thursday,22,TP,0.0,1.0,3.0,2.804320,214.917092,235.0,NaN
91056,56115,2021-11-18,MONU,136,TCT0011,NaN,NaN,NaN,00:00:00,00:00:00,NaN,2021,November,11,Thursday,18,TCT,0.0,1.0,1.0,1.040462,6.135397,6.0,NaN
64014,61779,2022-08-10,MONU,95,TP00311,NaN,NaN,NaN,05:33:41,13:24:01,BR_WESTH,2022,August,8,Wednesday,10,TP,0.0,1.0,2.0,2.374218,203.491783,272.0,NaN
81273,33959,2021-11-02,MONU,120,TAK0001,NaN,NaN,NaN,00:00:00,00:00:00,NaN,2021,November,11,Tuesday,2,TAK,0.0,1.0,1.0,1.052098,3.307246,2.0,NaN
69700,10241,2023-10-25,MONU,103,TP00317,NaN,NaN,NaN,05:33:28,15:30:07,BR_MONU,2023,October,10,Wednesday,25,TP,0.0,1.0,2.0,2.224490,263.078105,282.0,NaN
5290,36206,2021-12-01,MONU,7,TP00349,NaN,NaN,NaN,05:31:36,13:44:50,NaN,2021,December,12,Wednesday,1,TP,1.0,1.0,2.0,2.021601,162.162612,135.0,NaN
21307,11812,2021-01-18,MONU,33,TG00020,NaN,NaN,NaN,05:44:39,13:29:57,NaN,2021,January,1,Monday,18,TG,1.0,1.0,2.0,2.065949,174.750337,167.0,NaN
63880,38959,2022-02-09,MONU,95,TP00311,NaN,NaN,NaN,05:58:04,13:27:54,NaN,2022,February,2,Wednesday,9,TP,0.0,1.0,2.0,2.374218,203.491783,276.0,NaN
76188,50410,2021-01-02,MONU,111,TP00327,NaN,NaN,NaN,05:54:44,14:59:04,NaN,2021,January,1,Saturday,2,TP,2.0,1.0,3.0,2.257982,250.411239,297.0,NaN
18993,16413,2021-03-26,MONU,30,TG00010,NaN,NaN,NaN,05:39:48,13:24:26,NaN,2021,March,3,Friday,26,TG,0.0,1.0,2.0,2.081425,251.554124,378.0,NaN
91169,55683,2021-11-15,MONU,137,TP00313,NaN,NaN,NaN,05:41:27,18:10:58,NaN,2021,November,11,Monday,15,TP,1.0,1.0,2.0,2.350699,197.778772,226.0,NaN
64075,44663,2021-09-02,MONU,96,TP00312,NaN,NaN,NaN,06:21:47,14:05:58,NaN,2021,September,9,Thursday,2,TP,1.0,1.0,2.0,2.285714,224.475765,338.0,NaN
17811,13000,2023-12-11,MONU,27,TCT0014,NaN,NaN,NaN,06:44:24,14:38:36,BR_WESTH,2023,December,12,Monday,11,TCT,0.0,1.0,1.0,1.004615,4.466154,4.0,NaN
851,32511,2022-05-19,MONU,2,TP00336,NaN,NaN,NaN,05:21:51,14:06:08,NaN,2022,May,5,Thursday,19,TP,0.0,1.0,2.0,2.149367,163.043478,124.0,NaN
30704,76587,2022-11-09,MONU,46,TM00007,A223923601,Tour nicht geschafft,Tourüberlastung,05:12:46,13:59:20,BR_MONU,2022,November,11,Wednesday,9,TM,0.0,1.0,2.0,2.083014,56.591549,46.0,901.0
63908,12810,2021-01-25,MONU,95,TP00311,NaN,NaN,NaN,05:37:33,12:58:38,NaN,2021,January,1,Monday,25,TP,1.0,1.0,3.0,2.374218,203.491783,130.0,NaN
73188,21705,2023-12-05,MONU,107,TP00322,A234264861,Tour nicht geschafft,Tourüberlastung,05:32:54,15:29:22,BR_MONU,2023,December,12,Tuesday,5,TP,0.0,1.0,3.0,2.667516,182.984694,204.0,901.0
42517,47315,2021-12-07,MONU,65,TT00BG01,NaN,NaN,NaN,00:00:00,00:00:00,BR_MONU,2021,December,12,Tuesday,7,TT,0.0,1.0,1.0,1.030391,10.986547,20.0,NaN
56253,35793,2021-11-30,MONU,86,TM00011,NaN,NaN,NaN,04:46:18,13:04:40,NaN,2021,November,11,Tuesday,30,TM,1.0,1.0,2.0,2.002535,53.933673,46.0,NaN
69646,6900,2023-07-24,MONU,103,TP00317,NaN,NaN,NaN,04:30:07,15:08:26,BR_MONU,2023,July,7,Monday,24,TP,0.0,1.0,2.0,2.224490,263.078105,318.0,NaN

I want to have a binary column to hold wheter its Raklamation code == 901.0

In [722]:
everything_table.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,Startuhrzeit,Endeuhrzeit,Ausgangspunkt,year,month,month_number,day,day_number,rubbish_type,Zeitarbeiter_Flag,Ressource.Erster Fahrer,employee_count,average_employee_count,average_tasks,task_count
0,12964,2023-11-10,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:37:11,13:08:06,BR_RUDOWER,2023,November,11,Friday,10,TP,0.0,1.0,2.0,2.22625,164.097592,149.0
1,38897,2022-02-07,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:24:19,13:51:36,NaN,2022,February,2,Monday,7,TP,1.0,1.0,2.0,2.22625,164.097592,153.0
2,73190,2022-10-21,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:17:54,13:47:48,BR_NOBEL,2022,October,10,Friday,21,TP,1.0,1.0,2.0,2.22625,164.097592,144.0
3,54020,2021-08-06,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:22:22,15:59:07,NaN,2021,August,8,Friday,6,TP,1.0,1.0,2.0,2.22625,164.097592,175.0
4,78256,2023-01-27,MONU,1,TP00335,NaN,NaN,NaN,NaN,05:24:08,13:32:08,BR_NOBEL,2023,January,1,Friday,27,TP,0.0,1.0,2.0,2.22625,164.097592,143.0

Reklamationsgrund
901.0    1233
Name: count, dtype: int64