In [319]:
import pandas as pd

In [320]:
#tours csv dataframe
tours = pd.read_csv('/Users/barry/n3xtcoder/data/24-04-24/Tour.csv')

In [321]:
#complaints csv dataframe
complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_58205/3590055005.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [322]:
len(tours)

138953

In [323]:
#there is a fair few duplicates to get rid of
tours = tours.drop_duplicates()

In [324]:
len(tours)

95349

In [325]:
#these are not full duplicates. We're only interested in the complaint reason 901. If this happens all subsequent tasks on 
#that tour also get marked with this reason. We're only interested in the first instance of this reason.
complaints = complaints.drop_duplicates(subset='%TOURNR', keep='first')

In [326]:
#isolating the 901 reason 'Tour nicht geschafft'
complaints = complaints[complaints.Reklamationsgrund == 901.0]

In [327]:
complaints.head()

,%TOURNR,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
100,163663,A240916831,901,Tour nicht geschafft,Tourüberlastung
682,166324,A241175733,901,Tour nicht geschafft,Fahrzeugausfall
725,121217,A241176514,901,Tour nicht geschafft,Tourüberlastung
750,166005,A241185159,901,Tour nicht geschafft,Tourüberlastung
753,121221,A241185282,901,Tour nicht geschafft,Tourüberlastung

In [328]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [329]:
#i'm doing a left join here. This means all tours are kept and only the complaints that match are added to the dataframe.
tours_join_complaints = pd.merge(tours, complaints, on='%TOURNR', how='left')

In [330]:
tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0].head(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
358,14094,27.12.2023,MONU,1,TP00335,A234530422,901.0,Tour nicht geschafft,Zeitarbeiterproblem
367,18690,15.04.2021,MONU,1,TP00335,A211251520,901.0,Tour nicht geschafft,NaN
1360,39368,30.06.2022,MONU,2,TP00336,A222253580,901.0,Tour nicht geschafft,Tourüberlastung
1522,25310,04.12.2023,MONU,2,TP00336,A234247715,901.0,Tour nicht geschafft,Fahrzeugausfall
2720,59206,14.10.2021,MONU,4,TP00342,A213546939,901.0,Tour nicht geschafft,NaN
3085,66775,02.11.2022,MONU,4,TP00342,A223849279,901.0,Tour nicht geschafft,Fahrzeugausfall
4962,12752,04.12.2023,MONU,7,TP00349,A234245724,901.0,Tour nicht geschafft,Fahrzeugausfall
5309,95306,06.12.2023,MONU,7,TP00349,A234290562,901.0,Tour nicht geschafft,Zeitarbeiterproblem
5444,34449,08.11.2021,MONU,7,TP00349,A213816212,901.0,Tour nicht geschafft,NaN
5671,31297,20.06.2022,MONU,8,TP00401,A222105779,901.0,Tour nicht geschafft,Fahrzeugausfall
5797,14958,12.03.2021,MONU,8,TP00401,A210803119,901.0,Tour nicht geschafft,NaN
6011,88626,05.12.2023,MONU,8,TP00401,A234268887,901.0,Tour nicht geschafft,Fahrzeug voll
6813,34951,17.11.2021,MONU,9,TP00402,A214019612,901.0,Tour nicht geschafft,NaN
6819,35040,23.11.2021,MONU,9,TP00402,A214007316,901.0,Tour nicht geschafft,NaN
6821,34952,18.11.2021,MONU,9,TP00402,A213969932,901.0,Tour nicht geschafft,NaN
7020,55778,15.11.2021,MONU,9,TP00402,A213879235,901.0,Tour nicht geschafft,NaN
7364,31676,27.06.2022,MONU,10,TP00500,A222190645,901.0,Tour nicht geschafft,Tourüberlastung
7369,31770,24.06.2022,MONU,10,TP00500,A222190258,901.0,Tour nicht geschafft,Tourüberlastung
7424,33737,29.10.2021,MONU,10,TP00500,A213766789,901.0,Tour nicht geschafft,NaN
7504,27898,29.04.2022,MONU,10,TP00500,A221484759,901.0,Tour nicht geschafft,Tourüberlastung

In [331]:
len(tours)

95349

In [332]:
#double checking that the len of tours_join_complaints is the same as the original tours dataframe
len(tours_join_complaints)

95349

In [333]:
#to get a sense of how many complaints of 'tour nicht geschafft' there are
tours_join_complaints.Reklamationsgrund.value_counts()

Reklamationsgrund
901.0    1233
Name: count, dtype: int64

In [334]:
len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0])

1233

In [335]:
#this is the percentage of tours that ARE successfully completed. The amount which are 'unsuccessful' is the inverse of this. 1.13%
(len(tours_join_complaints)-len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0]))/len(tours_join_complaints) *100

98.70685586634364

In [336]:
#this is an aside to just double check that w're not missing any complaints that might be relevant to our analysis
complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_58205/1281685158.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [337]:
complaints2.Grund.unique()

array(['BB Deckel beschädigt', 'Ü Ladestelle beräumt',
       'VSS Schlüssel/Code erforderlich',
       'NB nicht bereitgestellter Behälter', 'TV Transportweg versperrt',
       'CT/AK Container/Mulde  defekt',
       'Leerung ist erfolgt - Foto erstellt',
       'Freilaufender Hund - GS nicht betreten',
       'Standort für Behälter unklar', 'TB Transportweg Baustelle',
       'VS kein Schlüssel erforderlich', 'Tour nicht geschafft',
       'Behälter zu schwer', 'RC Behälter vermüllt', 'BB Rad beschädigt',
       'VST Tresorproblem', 'leerer Behälter - 0 Menge -',
       'Ü nur Behälter geladen', 'Z3 Schloss fehlt od. defekt',
       'Behälter-Rumpf defekt', 'BB Zapfen beschädigt',
       'VB Verdreckter Behälter', 'Behälter zuviel',
       'LV Ladestelle vermüllt', 'Ü Erhöhung erforderlich',
       'Rattenbefall - keine Leerung', 'Fahrstuhl defekt', 'Fremdtonne',
       'Behälter in Schüttung gefallen', 'Brenner - Behälter beschädigt',
       'CT/AK - Leerfahrt', 'Fahrzeugausfall/Fahrzeugwechsel',
       'AFM - Meldung E-Schrott', 'AFM - Auftragsveränderungen',
       'Storno - Leistung storniert, keine Leerung',
       'TT - Schlüssel für TT-Abfuhr',
       'AFM - Entsorger hat nicht geladen', 'Behälter - Reste angefroren',
       'Tourenplanung neu', 'Behälter falsch/nicht zurückgestellt',
       'Unfall - Fahrzeug - Eigenverschulden',
       'AFM - Standplatzbetreuung',
       'Unfall - Fahrzeug - Fremdverschulden',
       'Nicht geladen - Nachleerung', 'Größe falsch',
       'SZ /Urlaub/Schließzeit/VS', nan, 'UFC-Behälter defekt',
       'SOV Sonstige Vorkommnisse', 'IGLU-Behälter defekt',
       'Unfall - Haftpflichtschaden/keine Fahrzeugbeteiligung',
       'Behälter nur gestellt', 'TB Transportweg Baustelle kurz',
       'CT/AK - Material/Falschbefüllung',
       'Nicht geladen - MMM mitnehmen', 'Behälter fehlt',
       'Coronaschließung - keine Entsorgung',
       'RE/GS/MA für Kunden unklar', 'Nicht vollständig geladen',
       'Nicht Geladen - Gutschrift', 'Bemerkungstexte anpassen',
       'Falsche RE/GS/MA', 'RE falsch: Leistung, Menge, Preis',
       'Keine RE/GS/MA erhalten', 'Behälter nicht wieder verschlossen',
       'Nicht nachgeladen - Gutschrift', 'Glasabzug',
       'Fehlende RE/GS, Rechnungskopie', 'Fehlverhalten allgemein',
       'Einzugsermächtigung nicht berücksichtigt',
       'Stammdaten nicht korrekt',
       'Tor/Tür/Käfig/Keller nicht wieder verschlossen'], dtype=object)

In [338]:
tours_join_complaints.Reklamationsgrund.unique()

array([ nan, 901.])

In [339]:
# a random sample of the tours. the successful tours are marked with NaN
tours_join_complaints.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
90014,83724,07.06.2023,MONU,135,TP00348,NaN,NaN,NaN,NaN
54903,5560,07.06.2023,MONU,84,TM00001,NaN,NaN,NaN,NaN
5399,2983,12.09.2023,MONU,7,TP00349,NaN,NaN,NaN,NaN
26397,2911,28.04.2023,MONU,40,TG00035,NaN,NaN,NaN,NaN
42483,50068,07.01.2022,MONU,65,TT00BG01,NaN,NaN,NaN,NaN
28649,11021,23.12.2023,MONU,44,TM00005,NaN,NaN,NaN,NaN
1839,91257,10.05.2023,MONU,3,TP00337,NaN,NaN,NaN,NaN
757,42666,13.07.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN
31711,21552,21.03.2022,MONU,48,TM00009,NaN,NaN,NaN,NaN
66636,25595,05.04.2022,MONU,99,TGIGLU0713,NaN,NaN,NaN,NaN
63648,1397,08.02.2023,MONU,95,TP00311,NaN,NaN,NaN,NaN
91537,72620,19.10.2022,MONU,137,TP00313,NaN,NaN,NaN,NaN
31476,2071,15.03.2023,MONU,47,TM00008,NaN,NaN,NaN,NaN
91900,94601,03.01.2023,MONU,138,TGIGLU0718,NaN,NaN,NaN,NaN
93619,90829,03.05.2023,MONU,152,TG00033,A231531108,901.0,Tour nicht geschafft,Tourüberlastung
35635,32251,17.05.2022,MONU,54,TP00116,NaN,NaN,NaN,NaN
32416,10480,21.11.2023,MONU,49,TM00010,NaN,NaN,NaN,NaN
31445,90163,24.04.2023,MONU,47,TM00008,NaN,NaN,NaN,NaN
6679,64907,14.09.2022,MONU,9,TP00402,NaN,NaN,NaN,NaN
45937,94026,28.12.2022,MONU,70,TP00115,NaN,NaN,NaN,NaN

In [340]:
#this is the CSV related to employees. how many there are, if thye are 'Zeitarbeiter' and if the tour had the main driver
resources = pd.read_csv('data/24-04-24/Ressource.csv')

In [342]:
#a tour can have multiple employees. Thus a tour can have multiple rows in the resources dataframe.
#I'm grouping by the tour number and counting the number of employees on each tour by counting the number of rows.
exmployee_count = resources.groupby('%TOURNR').count().reset_index()[['%TOURNR', '%Mitarbeiternummer']]

In [343]:
#here we want to do a similar groupby but instead of counting the rows we are summing the values.
#if a row has a 1 in the zeit arbieter flag and the same tour has another row, meaning another mitarbeiter, who also has this one
#that means we have 2 Zeitarbeiters - similar logic for the 'Ressource.Erster Fahrer' column
summed_employee_flags = resources.groupby('%TOURNR').sum().reset_index()[['%TOURNR', 'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer']]

In [344]:
#Join those two tables to get the 'counted' employees and the 'summed' zeitarbeiter and main driver
processed_employees = pd.merge(exmployee_count, summed_employee_flags, on='%TOURNR', how='inner')

In [345]:
processed_employees = processed_employees.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [346]:
#employee_count = resources.groupby('%TOURNR').count()

In [347]:
processed_employees.sample(20)

        %TOURNR  employee_count  Zeitarbeiter_Flag  Ressource.Erster Fahrer
58131     58144               2                  1                        1
154993   155023               2                  0                        1
43324     43333               1                  0                        1
46021     46032               1                  0                        1
161349   161379               1                  0                        1
3594       3596               1                  0                        1
1350       1351               3                  0                        1
3695       3697               2                  1                        1
67335     67350               2                  0                        1
14962     14965               2                  0                        1
81281     81296               3                  1                        1
66010     66025               1                  0                        1
60222     60235               2                  0                        1
20823     20827               2                  1                        1
92479     92499               3                  2                        1
27257     27264               3                  1                        1
107937   107967               2                  1                        1
23369     23373               2                  0                        1
41138     41147               2                  0                        1
39670     39679               2                  1                        1

In [348]:
#now join that table to my combined tours/complaints table
tours_join_complaints_employees = pd.merge(tours_join_complaints, processed_employees, on='%TOURNR', how='left')

In [359]:
tours_join_complaints_employees.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0
1,38897,07.02.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
2,73190,21.10.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
3,54020,06.08.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,78256,27.01.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0

In [349]:
#lets add in my tasks table
tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_58205/119137167.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

In [350]:
#A tour can have many tasks in it. I want to see how many each Tour has and then join that to my main table

number_of_tasks = tasks.groupby('%TOURNR').count().reset_index()[['%TOURNR','Artikel']]

In [351]:
#The tours have more tasks that i expected. The column is called 'Artikel' but that is arbitrary, i needed a column to keep the tally.
#I'll change the name shortly
number_of_tasks.head()

   %TOURNR  Artikel
0        1      182
1        2      152
2        3      152
3        4      170
4        5      151

In [352]:
#lets add this tasks count to teh main table
tours_join_complaints_employees_taskcoount = pd.merge(tours_join_complaints_employees, number_of_tasks, on='%TOURNR', how='left')

In [353]:
#lets rename the Article column to task_count to keep track of it
tours_join_complaints_employees_taskcoount = tours_join_complaints_employees_taskcoount.rename(columns={'Artikel': 'task_count'})

In [354]:
#lets have a look at a random sample of 20 to see if its being as we expect it to be
tours_join_complaints_employees_taskcoount.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count
93792,21288,17.03.2022,MONU,154,TCT0050,NaN,NaN,NaN,NaN,1.0,1.0,1.0,6.0
80910,46628,27.09.2021,MONU,120,TAK0001,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0
73310,25625,05.04.2022,MONU,107,TP00322,NaN,NaN,NaN,NaN,3.0,2.0,1.0,170.0
84641,26052,02.04.2022,MONU,126,TCT0008,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0
82518,3830,08.02.2023,MONU,122,TCT0003,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0
2712,17215,31.03.2021,MONU,4,TP00342,NaN,NaN,NaN,NaN,2.0,0.0,1.0,162.0
72636,86699,31.07.2023,MONU,107,TP00322,NaN,NaN,NaN,NaN,2.0,0.0,1.0,213.0
35582,13493,29.01.2021,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,1.0,1.0,164.0
76979,51333,01.06.2021,MONU,112,TP00600-DW,NaN,NaN,NaN,NaN,3.0,0.0,1.0,271.0
75777,28821,04.05.2021,MONU,111,TP00327,NaN,NaN,NaN,NaN,2.0,0.0,1.0,263.0
23625,4411,07.06.2023,MONU,37,TG00031,NaN,NaN,NaN,NaN,2.0,1.0,1.0,146.0
79971,37446,04.11.2023,MONU,118,TCT0006,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0
18891,53811,04.08.2021,MONU,30,TG00010,NaN,NaN,NaN,NaN,3.0,2.0,1.0,216.0
83917,63240,29.08.2022,MONU,124,TCT0005,NaN,NaN,NaN,NaN,1.0,0.0,1.0,7.0
75546,67741,18.11.2022,MONU,110,TP00326,NaN,NaN,NaN,NaN,3.0,1.0,1.0,237.0
89426,26027,08.04.2022,MONU,134,TP00346,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0
63066,47879,16.12.2021,MONU,94,TP00218,NaN,NaN,NaN,NaN,2.0,0.0,1.0,141.0
32627,4771,12.06.2023,MONU,49,TM00010,NaN,NaN,NaN,NaN,2.0,0.0,1.0,57.0
81793,10668,02.11.2023,MONU,121,TCT0002,NaN,NaN,NaN,NaN,1.0,0.0,1.0,5.0
14405,63542,31.08.2022,MONU,22,TP00111,NaN,NaN,NaN,NaN,2.0,1.0,1.0,176.0

In [355]:
#double checking what the tours CSV was like
tours.head()

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335
1    38897   07.02.2022           MONU            1        TP00335
2    73190   21.10.2022           MONU            1        TP00335
3    54020   06.08.2021           MONU            1        TP00335
4    78256   27.01.2023           MONU            1        TP00335

In [356]:
#My understaind is that every time the truck leaves it gets a unique 'tourNr'. If this route is a regular route it gets a 
#Rahmentour number as well. To keep track of how many tours are in each Rahmentour i'm going to group by that column and count
#Rahmentour with number 3 occurred 801 times
tours.groupby('%Rahmentour').count()

             %TOURNR  Einsatzdatum  Betriebsstätte  Rahmentourcode
%Rahmentour
1                800           800             800             800
2                790           790             790             790
3                801           801             801             801
4                785           785             785             785
5                781           781             781             781
...              ...           ...             ...             ...
195                1             1               1               1
196                1             1               1               1
197                1             1               1               1
198                2             2               2               2
199                1             1               1               1

[199 rows x 4 columns]

In [357]:
#there is some surprise at the number of tasks in a tour. This is to isolate it for one tour, 6276 and to double check that the 
#count/summing above is correct... It appears to be. The TOURNR is the same, all on the one date, with unique Auftr.Auftragsnr for each 
#task and a changing %DEBITOR%EINSATZSTELLE for each pick up location
tasks[tasks['%TOURNR'] == 6276]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
2350808,6276,6477,A233037454,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493451,6276,55846,A233051474,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493488,6276,83418,A233051615,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493532,6276,83417,A233051612,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
3357645,6276,44250,A233049476,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
7619821,6276,89146,A233035750,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7619858,6276,6075,A233035795,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620163,6276,36851,A233034779,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620690,6276,50790,A233023465,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
13171550,6276,28318,A233042465,31.08.2023,1,Stück,10060.0,M501400,Glas weiß Duales System,360 L MGB

In [358]:
#NOTE for tomorrow - I want work out the average number of tasks for each rahmen tour to see if the number of tasks is a factor in
#the success of the tour. I also want to see if the number of employees is a factor in the success of the tour. Possiblying having a
# column that shows if the tour had more or less or the average number of employees for that tour.

29.25

In [362]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [363]:
resources.head(1)

   %TOURNR  %Mitarbeiternummer  Zeitarbeiter_Flag  Ressource.Erster Fahrer
0    95350                   1                  0                        1

In [370]:
resources_tours = pd.merge(resources, tours, on='%TOURNR', how='inner')

In [371]:
resources_tours.head(20)

,%TOURNR,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode
0,1,278,0,1,22.08.2023,MONU,1,TP00335
1,1,279,0,0,22.08.2023,MONU,1,TP00335
2,2,280,0,1,22.08.2023,MONU,2,TP00336
3,2,281,1,0,22.08.2023,MONU,2,TP00336
4,3,239,0,1,22.08.2023,MONU,3,TP00337
5,3,282,1,0,22.08.2023,MONU,3,TP00337
6,4,283,0,1,22.08.2023,MONU,4,TP00342
7,4,284,1,0,22.08.2023,MONU,4,TP00342
8,5,285,0,1,22.08.2023,MONU,5,TP00343
9,5,286,0,0,22.08.2023,MONU,5,TP00343
10,6,287,0,1,22.08.2023,MONU,6,TP00344
11,6,288,0,0,22.08.2023,MONU,6,TP00344
12,7,289,1,0,22.08.2023,MONU,7,TP00349
13,7,290,0,1,22.08.2023,MONU,7,TP00349
14,8,291,0,1,22.08.2023,MONU,8,TP00401
15,8,292,0,0,22.08.2023,MONU,8,TP00401
16,9,293,0,1,22.08.2023,MONU,9,TP00402
17,9,26,0,0,22.08.2023,MONU,9,TP00402
18,10,294,0,1,22.08.2023,MONU,10,TP00500
19,10,295,1,0,22.08.2023,MONU,10,TP00500

In [390]:
grouped = resources_tours.groupby(['%TOURNR', '%Rahmentour']).count().reset_index()

In [391]:
grouped.head()

,%TOURNR,%Rahmentour,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,Rahmentourcode
0,1,1,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2
2,3,3,2,2,2,2,2,2
3,4,4,2,2,2,2,2,2
4,5,5,2,2,2,2,2,2

In [392]:
sorted_grouped = grouped.sort_values(by='%Rahmentour')

In [395]:
sorted_grouped = sorted_grouped[['%TOURNR','%Rahmentour','%Mitarbeiternummer']]

In [397]:
sorted_grouped = sorted_grouped.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [398]:
sorted_grouped.head(20)

       %TOURNR  %Rahmentour  employee_count
0            1            1               2
80644    80659            1               3
80570    80585            1               3
30456    30463            1               2
57410    57423            1               2
30342    30349            1               2
1157      1158            1               2
57163    57176            1               2
80401    80416            1               2
80319    80334            1               3
30155    30162            1               2
94036    94056            1               2
11981    11984            1               2
11982    11985            1               2
11983    11986            1               2
80373    80388            1               2
80751    80766            1               2
30627    30634            1               3
30628    30635            1               3
31018    31025            1               3

In [402]:
average_employee_count = sorted_grouped.groupby('%Rahmentour')['employee_count'].mean().reset_index()

In [403]:
average_employee_count

     %Rahmentour  employee_count
0              1        2.226250
1              2        2.149367
2              3        2.131086
3              4        2.095541
4              5        2.153649
..           ...             ...
194          195        1.000000
195          196        2.000000
196          197        4.000000
197          198        2.000000
198          199        3.000000

[199 rows x 2 columns]

In [405]:
everything_table = pd.merge(tours_join_complaints_employees_taskcoount, average_employee_count, on = '%Rahmentour', how = 'inner' )

In [408]:
everything_table = everything_table.rename(columns={'employee_count_x': 'employee_count', 'employee_count_y': 'average_employee_count'})

In [409]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
94911,47534,08.12.2021,MONU,172,TG00026,NaN,NaN,NaN,NaN,2.0,1.0,1.0,121.0,2.112583
22372,53821,05.08.2021,MONU,35,TG00022,NaN,NaN,NaN,NaN,1.0,0.0,1.0,63.0,2.077632
78510,60763,14.07.2022,MONU,115,TP00432,NaN,NaN,NaN,NaN,2.0,0.0,1.0,150.0,2.351974
57313,19666,15.05.2021,MONU,87,TM00012,NaN,NaN,NaN,NaN,2.0,1.0,1.0,75.0,2.135787
67646,90982,26.04.2023,MONU,100,TP00215,NaN,NaN,NaN,NaN,3.0,0.0,1.0,NaN,2.083544
13818,14071,23.03.2021,MONU,22,TP00111,NaN,NaN,NaN,NaN,2.0,0.0,1.0,253.0,2.157960
62905,1626,15.02.2023,MONU,94,TP00218,NaN,NaN,NaN,NaN,2.0,0.0,1.0,182.0,2.076336
54380,40681,23.02.2021,MONU,83,TG00025,NaN,NaN,NaN,NaN,2.0,0.0,1.0,196.0,2.026253
86653,83332,02.06.2023,MONU,130,TP00325,NaN,NaN,NaN,NaN,2.0,0.0,1.0,207.0,2.147395
74710,16044,19.03.2021,MONU,109,TP00324,NaN,NaN,NaN,NaN,2.0,0.0,1.0,228.0,2.279543
11317,22665,28.03.2022,MONU,16,TP00434,NaN,NaN,NaN,NaN,2.0,0.0,1.0,178.0,2.200737
85663,58861,15.10.2021,MONU,127,TCT0009,NaN,NaN,NaN,NaN,1.0,0.0,1.0,6.0,1.004286
55722,61935,28.07.2022,MONU,85,TM00003,NaN,NaN,NaN,NaN,2.0,1.0,1.0,66.0,2.161783
35884,14944,11.03.2021,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,0.0,1.0,219.0,2.116308
64398,59761,25.10.2021,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,1.0,1.0,227.0,2.285714
14979,12160,08.12.2023,MONU,23,TP00214,NaN,NaN,NaN,NaN,2.0,0.0,1.0,212.0,2.150442
64608,73814,21.12.2022,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,0.0,1.0,299.0,2.285714
6096,92501,27.07.2023,MONU,8,TP00401,NaN,NaN,NaN,NaN,2.0,0.0,1.0,179.0,2.153266
94606,42138,06.07.2021,MONU,170,TP00667,NaN,NaN,NaN,NaN,3.0,2.0,1.0,147.0,2.750000
22605,39555,04.07.2022,MONU,35,TG00022,NaN,NaN,NaN,NaN,2.0,0.0,1.0,50.0,2.077632