In [2]:
import pandas as pd

In [3]:
#tours csv dataframe
tours = pd.read_csv('/Users/barry/n3xtcoder/data/24-04-24/Tour.csv')

In [4]:
#complaints csv dataframe
complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/3590055005.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [5]:
len(tours)

138953

In [6]:
#there is a fair few duplicates to get rid of
tours = tours.drop_duplicates()

In [7]:
len(tours)

95349

In [8]:
#these are not full duplicates. We're only interested in the complaint reason 901. If this happens all subsequent tasks on 
#that tour also get marked with this reason. We're only interested in the first instance of this reason.
complaints = complaints.drop_duplicates(subset='%TOURNR', keep='first')

In [9]:
#isolating the 901 reason 'Tour nicht geschafft'
complaints = complaints[complaints.Reklamationsgrund == 901.0]

In [10]:
complaints.head()

,%TOURNR,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
100,163663,A240916831,901,Tour nicht geschafft,Tourüberlastung
682,166324,A241175733,901,Tour nicht geschafft,Fahrzeugausfall
725,121217,A241176514,901,Tour nicht geschafft,Tourüberlastung
750,166005,A241185159,901,Tour nicht geschafft,Tourüberlastung
753,121221,A241185282,901,Tour nicht geschafft,Tourüberlastung

In [11]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [12]:
#i'm doing a left join here. This means all tours are kept and only the complaints that match are added to the dataframe.
tours_join_complaints = pd.merge(tours, complaints, on='%TOURNR', how='left')

In [13]:
tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0].head(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
358,14094,27.12.2023,MONU,1,TP00335,A234530422,901.0,Tour nicht geschafft,Zeitarbeiterproblem
367,18690,15.04.2021,MONU,1,TP00335,A211251520,901.0,Tour nicht geschafft,NaN
1360,39368,30.06.2022,MONU,2,TP00336,A222253580,901.0,Tour nicht geschafft,Tourüberlastung
1522,25310,04.12.2023,MONU,2,TP00336,A234247715,901.0,Tour nicht geschafft,Fahrzeugausfall
2720,59206,14.10.2021,MONU,4,TP00342,A213546939,901.0,Tour nicht geschafft,NaN
3085,66775,02.11.2022,MONU,4,TP00342,A223849279,901.0,Tour nicht geschafft,Fahrzeugausfall
4962,12752,04.12.2023,MONU,7,TP00349,A234245724,901.0,Tour nicht geschafft,Fahrzeugausfall
5309,95306,06.12.2023,MONU,7,TP00349,A234290562,901.0,Tour nicht geschafft,Zeitarbeiterproblem
5444,34449,08.11.2021,MONU,7,TP00349,A213816212,901.0,Tour nicht geschafft,NaN
5671,31297,20.06.2022,MONU,8,TP00401,A222105779,901.0,Tour nicht geschafft,Fahrzeugausfall
5797,14958,12.03.2021,MONU,8,TP00401,A210803119,901.0,Tour nicht geschafft,NaN
6011,88626,05.12.2023,MONU,8,TP00401,A234268887,901.0,Tour nicht geschafft,Fahrzeug voll
6813,34951,17.11.2021,MONU,9,TP00402,A214019612,901.0,Tour nicht geschafft,NaN
6819,35040,23.11.2021,MONU,9,TP00402,A214007316,901.0,Tour nicht geschafft,NaN
6821,34952,18.11.2021,MONU,9,TP00402,A213969932,901.0,Tour nicht geschafft,NaN
7020,55778,15.11.2021,MONU,9,TP00402,A213879235,901.0,Tour nicht geschafft,NaN
7364,31676,27.06.2022,MONU,10,TP00500,A222190645,901.0,Tour nicht geschafft,Tourüberlastung
7369,31770,24.06.2022,MONU,10,TP00500,A222190258,901.0,Tour nicht geschafft,Tourüberlastung
7424,33737,29.10.2021,MONU,10,TP00500,A213766789,901.0,Tour nicht geschafft,NaN
7504,27898,29.04.2022,MONU,10,TP00500,A221484759,901.0,Tour nicht geschafft,Tourüberlastung

In [14]:
len(tours)

95349

In [15]:
#double checking that the len of tours_join_complaints is the same as the original tours dataframe
len(tours_join_complaints)

95349

In [16]:
#to get a sense of how many complaints of 'tour nicht geschafft' there are
tours_join_complaints.Reklamationsgrund.value_counts()

Reklamationsgrund
901.0    1233
Name: count, dtype: int64

In [17]:
len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0])

1233

In [18]:
#this is the percentage of tours that ARE successfully completed. The amount which are 'unsuccessful' is the inverse of this. 1.13%
(len(tours_join_complaints)-len(tours_join_complaints[tours_join_complaints.Reklamationsgrund == 901.0]))/len(tours_join_complaints) *100

98.70685586634364

In [19]:
#this is an aside to just double check that w're not missing any complaints that might be relevant to our analysis
complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1281685158.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  complaints2 = pd.read_csv('data/24-04-24/Reklamationen.csv')

In [20]:
complaints2.Grund.unique()

array(['BB Deckel beschädigt', 'Ü Ladestelle beräumt',
       'VSS Schlüssel/Code erforderlich',
       'NB nicht bereitgestellter Behälter', 'TV Transportweg versperrt',
       'CT/AK Container/Mulde  defekt',
       'Leerung ist erfolgt - Foto erstellt',
       'Freilaufender Hund - GS nicht betreten',
       'Standort für Behälter unklar', 'TB Transportweg Baustelle',
       'VS kein Schlüssel erforderlich', 'Tour nicht geschafft',
       'Behälter zu schwer', 'RC Behälter vermüllt', 'BB Rad beschädigt',
       'VST Tresorproblem', 'leerer Behälter - 0 Menge -',
       'Ü nur Behälter geladen', 'Z3 Schloss fehlt od. defekt',
       'Behälter-Rumpf defekt', 'BB Zapfen beschädigt',
       'VB Verdreckter Behälter', 'Behälter zuviel',
       'LV Ladestelle vermüllt', 'Ü Erhöhung erforderlich',
       'Rattenbefall - keine Leerung', 'Fahrstuhl defekt', 'Fremdtonne',
       'Behälter in Schüttung gefallen', 'Brenner - Behälter beschädigt',
       'CT/AK - Leerfahrt', 'Fahrzeugausfall/Fahrzeugwechsel',
       'AFM - Meldung E-Schrott', 'AFM - Auftragsveränderungen',
       'Storno - Leistung storniert, keine Leerung',
       'TT - Schlüssel für TT-Abfuhr',
       'AFM - Entsorger hat nicht geladen', 'Behälter - Reste angefroren',
       'Tourenplanung neu', 'Behälter falsch/nicht zurückgestellt',
       'Unfall - Fahrzeug - Eigenverschulden',
       'AFM - Standplatzbetreuung',
       'Unfall - Fahrzeug - Fremdverschulden',
       'Nicht geladen - Nachleerung', 'Größe falsch',
       'SZ /Urlaub/Schließzeit/VS', nan, 'UFC-Behälter defekt',
       'SOV Sonstige Vorkommnisse', 'IGLU-Behälter defekt',
       'Unfall - Haftpflichtschaden/keine Fahrzeugbeteiligung',
       'Behälter nur gestellt', 'TB Transportweg Baustelle kurz',
       'CT/AK - Material/Falschbefüllung',
       'Nicht geladen - MMM mitnehmen', 'Behälter fehlt',
       'Coronaschließung - keine Entsorgung',
       'RE/GS/MA für Kunden unklar', 'Nicht vollständig geladen',
       'Nicht Geladen - Gutschrift', 'Bemerkungstexte anpassen',
       'Falsche RE/GS/MA', 'RE falsch: Leistung, Menge, Preis',
       'Keine RE/GS/MA erhalten', 'Behälter nicht wieder verschlossen',
       'Nicht nachgeladen - Gutschrift', 'Glasabzug',
       'Fehlende RE/GS, Rechnungskopie', 'Fehlverhalten allgemein',
       'Einzugsermächtigung nicht berücksichtigt',
       'Stammdaten nicht korrekt',
       'Tor/Tür/Käfig/Keller nicht wieder verschlossen'], dtype=object)

In [21]:
tours_join_complaints.Reklamationsgrund.unique()

array([ nan, 901.])

In [22]:
# a random sample of the tours. the successful tours are marked with NaN
tours_join_complaints.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung
58619,68896,10.02.2022,MONU,89,TP00121,A220502291,901.0,Tour nicht geschafft,NaN
4745,59850,21.10.2021,MONU,7,TP00349,NaN,NaN,NaN,NaN
22537,46133,17.09.2021,MONU,35,TG00022,NaN,NaN,NaN,NaN
73535,38596,03.02.2022,MONU,108,TP00323,NaN,NaN,NaN,NaN
75036,39033,20.06.2022,MONU,110,TP00326,A222111568,901.0,Tour nicht geschafft,Fahrzeugausfall
22230,44210,24.08.2021,MONU,35,TG00022,NaN,NaN,NaN,NaN
31017,4661,27.07.2023,MONU,47,TM00008,NaN,NaN,NaN,NaN
19313,50552,05.01.2021,MONU,31,TG00012,NaN,NaN,NaN,NaN
83365,66818,03.11.2022,MONU,123,TCT0004,NaN,NaN,NaN,NaN
6103,61510,22.07.2022,MONU,8,TP00401,NaN,NaN,NaN,NaN
70679,70839,02.06.2022,MONU,104,TP00318,NaN,NaN,NaN,NaN
42678,73632,05.12.2022,MONU,66,TT00006,NaN,NaN,NaN,NaN
68861,55694,12.11.2021,MONU,102,TP00316,NaN,NaN,NaN,NaN
29375,93235,16.12.2022,MONU,45,TM00006,NaN,NaN,NaN,NaN
47507,86293,16.10.2023,MONU,72,TP00211,NaN,NaN,NaN,NaN
38361,56365,25.02.2022,MONU,59,TMSPM-GB01,NaN,NaN,NaN,NaN
52785,86976,24.07.2023,MONU,81,TP00421,NaN,NaN,NaN,NaN
10344,95333,08.12.2023,MONU,14,TP00221,NaN,NaN,NaN,NaN
86752,69766,21.02.2022,MONU,130,TP00325,NaN,NaN,NaN,NaN
22398,27268,25.04.2022,MONU,35,TG00022,NaN,NaN,NaN,NaN

In [23]:
#this is the CSV related to employees. how many there are, if thye are 'Zeitarbeiter' and if the tour had the main driver
resources = pd.read_csv('data/24-04-24/Ressource.csv')

In [24]:
#a tour can have multiple employees. Thus a tour can have multiple rows in the resources dataframe.
#I'm grouping by the tour number and counting the number of employees on each tour by counting the number of rows.
exmployee_count = resources.groupby('%TOURNR').count().reset_index()[['%TOURNR', '%Mitarbeiternummer']]

In [25]:
#here we want to do a similar groupby but instead of counting the rows we are summing the values.
#if a row has a 1 in the zeit arbieter flag and the same tour has another row, meaning another mitarbeiter, who also has this one
#that means we have 2 Zeitarbeiters - similar logic for the 'Ressource.Erster Fahrer' column
summed_employee_flags = resources.groupby('%TOURNR').sum().reset_index()[['%TOURNR', 'Zeitarbeiter_Flag', 'Ressource.Erster Fahrer']]

In [26]:
#Join those two tables to get the 'counted' employees and the 'summed' zeitarbeiter and main driver
processed_employees = pd.merge(exmployee_count, summed_employee_flags, on='%TOURNR', how='inner')

In [27]:
processed_employees = processed_employees.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [28]:
#employee_count = resources.groupby('%TOURNR').count()

In [29]:
processed_employees.sample(20)

        %TOURNR  employee_count  Zeitarbeiter_Flag  Ressource.Erster Fahrer
160328   160358               1                  0                        1
127344   127374               1                  0                        1
56585     56597               2                  0                        1
89513     89531               1                  0                        1
132828   132858               1                  0                        1
59595     59608               2                  0                        1
81838     81853               3                  0                        1
146789   146819               3                  1                        1
12842     12845               3                  0                        1
36542     36550               2                  0                        1
43118     43127               2                  1                        1
113059   113089               2                  1                        1
131440   131470               2                  1                        1
125449   125479               2                  0                        1
105399   105429               1                  0                        1
1462       1463               2                  1                        1
70323     70338               3                  1                        1
97495     97525               2                  0                        1
88605     88622               2                  0                        1
125463   125493               2                  1                        1

In [30]:
#now join that table to my combined tours/complaints table
tours_join_complaints_employees = pd.merge(tours_join_complaints, processed_employees, on='%TOURNR', how='left')

In [31]:
tours_join_complaints_employees.head()

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer
0,12964,10.11.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0
1,38897,07.02.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
2,73190,21.10.2022,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
3,54020,06.08.2021,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,78256,27.01.2023,MONU,1,TP00335,NaN,NaN,NaN,NaN,2.0,0.0,1.0

In [32]:
#lets add in my tasks table
tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

/var/folders/ch/cdbcz7115ms5zvq6n9ds4wn00000gn/T/ipykernel_12008/1245601721.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  tasks = pd.read_csv('data/24-04-24/Auftr„ge.csv')

In [33]:
#A tour can have many tasks in it. I want to see how many each Tour has and then join that to my main table

number_of_tasks = tasks.groupby('%TOURNR').count().reset_index()[['%TOURNR','Artikel']]

In [34]:
#The tours have more tasks that i expected. The column is called 'Artikel' but that is arbitrary, i needed a column to keep the tally.
#I'll change the name shortly
number_of_tasks.head()

   %TOURNR  Artikel
0        1      182
1        2      152
2        3      152
3        4      170
4        5      151

In [35]:
#lets add this tasks count to teh main table
tours_join_complaints_employees_taskcoount = pd.merge(tours_join_complaints_employees, number_of_tasks, on='%TOURNR', how='left')

In [36]:
#lets rename the Article column to task_count to keep track of it
tours_join_complaints_employees_taskcoount = tours_join_complaints_employees_taskcoount.rename(columns={'Artikel': 'task_count'})

In [37]:
#lets have a look at a random sample of 20 to see if its being as we expect it to be
tours_join_complaints_employees_taskcoount.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count
3522,45161,06.09.2021,MONU,5,TP00343,NaN,NaN,NaN,NaN,2.0,0.0,1.0,168.0
70311,92668,20.05.2023,MONU,104,TP00318,NaN,NaN,NaN,NaN,2.0,0.0,1.0,281.0
16505,77782,26.01.2023,MONU,25,TCT0010,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0
35606,78229,27.01.2023,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,0.0,1.0,180.0
17586,33045,27.05.2022,MONU,27,TCT0014,NaN,NaN,NaN,NaN,1.0,0.0,1.0,4.0
73745,13555,27.01.2021,MONU,108,TP00323,NaN,NaN,NaN,NaN,3.0,0.0,1.0,214.0
57931,11343,08.11.2023,MONU,88,TP00118,NaN,NaN,NaN,NaN,2.0,0.0,1.0,227.0
85055,75633,28.10.2022,MONU,126,TCT0008,NaN,NaN,NaN,NaN,1.0,0.0,1.0,3.0
24876,908,20.07.2023,MONU,38,TG00032,NaN,NaN,NaN,NaN,2.0,1.0,1.0,209.0
28803,58796,15.10.2021,MONU,44,TM00005,NaN,NaN,NaN,NaN,2.0,1.0,1.0,57.0
75317,72472,13.10.2022,MONU,110,TP00326,NaN,NaN,NaN,NaN,2.0,0.0,1.0,223.0
64629,17738,21.09.2023,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,0.0,1.0,201.0
35964,17664,09.04.2021,MONU,54,TP00116,NaN,NaN,NaN,NaN,2.0,1.0,1.0,313.0
11757,56533,28.02.2022,MONU,17,TP00222,NaN,NaN,NaN,NaN,2.0,0.0,1.0,57.0
54482,47224,07.12.2021,MONU,83,TG00025,NaN,NaN,NaN,NaN,2.0,0.0,1.0,340.0
71395,76848,10.11.2022,MONU,105,TP00319,NaN,NaN,NaN,NaN,3.0,1.0,1.0,227.0
86037,6715,17.07.2023,MONU,128,TLV00577,NaN,NaN,NaN,NaN,2.0,0.0,1.0,2.0
6019,36958,17.01.2022,MONU,8,TP00401,NaN,NaN,NaN,NaN,2.0,0.0,1.0,185.0
51681,53483,30.07.2021,MONU,78,TP00345,NaN,NaN,NaN,NaN,2.0,0.0,1.0,249.0
76933,58567,07.10.2021,MONU,112,TP00600-DW,NaN,NaN,NaN,NaN,2.0,0.0,1.0,179.0

In [38]:
#double checking what the tours CSV was like
tours.head()

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335
1    38897   07.02.2022           MONU            1        TP00335
2    73190   21.10.2022           MONU            1        TP00335
3    54020   06.08.2021           MONU            1        TP00335
4    78256   27.01.2023           MONU            1        TP00335

In [39]:
#My understaind is that every time the truck leaves it gets a unique 'tourNr'. If this route is a regular route it gets a 
#Rahmentour number as well. To keep track of how many tours are in each Rahmentour i'm going to group by that column and count
#Rahmentour with number 3 occurred 801 times
tours.groupby('%Rahmentour').count()

             %TOURNR  Einsatzdatum  Betriebsstätte  Rahmentourcode
%Rahmentour
1                800           800             800             800
2                790           790             790             790
3                801           801             801             801
4                785           785             785             785
5                781           781             781             781
...              ...           ...             ...             ...
195                1             1               1               1
196                1             1               1               1
197                1             1               1               1
198                2             2               2               2
199                1             1               1               1

[199 rows x 4 columns]

In [40]:
#there is some surprise at the number of tasks in a tour. This is to isolate it for one tour, 6276 and to double check that the 
#count/summing above is correct... It appears to be. The TOURNR is the same, all on the one date, with unique Auftr.Auftragsnr for each 
#task and a changing %DEBITOR%EINSATZSTELLE for each pick up location
tasks[tasks['%TOURNR'] == 6276]

,%TOURNR,%DEBITOR%EINSATZSTELLE,Auftr.Auftragsnr.,Auftr.Einsatzdatum,Auftr.Menge,Auftr.Einheit,Auftr.Betriebsmittelnr.,Auftr.Int. Stoffkatalog,Artikel,Betriebsmittel
2350808,6276,6477,A233037454,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493451,6276,55846,A233051474,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493488,6276,83418,A233051615,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
2493532,6276,83417,A233051612,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
3357645,6276,44250,A233049476,31.08.2023,1,Stück,10100.0,M501400,Glas weiß Duales System,1100 L MGB
...,...,...,...,...,...,...,...,...,...,...
7619821,6276,89146,A233035750,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7619858,6276,6075,A233035795,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620163,6276,36851,A233034779,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
7620690,6276,50790,A233023465,31.08.2023,1,Stück,10040.0,M501400,Glas weiß Duales System,240 L MGB
13171550,6276,28318,A233042465,31.08.2023,1,Stück,10060.0,M501400,Glas weiß Duales System,360 L MGB

In [41]:
#NOTE for tomorrow - I want work out the average number of tasks for each rahmen tour to see if the number of tasks is a factor in
#the success of the tour. I also want to see if the number of employees is a factor in the success of the tour. Possiblying having a
# column that shows if the tour had more or less or the average number of employees for that tour.

In [42]:
tours.head(1)

   %TOURNR Einsatzdatum Betriebsstätte  %Rahmentour Rahmentourcode
0    12964   10.11.2023           MONU            1        TP00335

In [43]:
resources.head(1)

   %TOURNR  %Mitarbeiternummer  Zeitarbeiter_Flag  Ressource.Erster Fahrer
0    95350                   1                  0                        1

In [44]:
resources_tours = pd.merge(resources, tours, on='%TOURNR', how='inner')

In [45]:
resources_tours.head(20)

,%TOURNR,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode
0,1,278,0,1,22.08.2023,MONU,1,TP00335
1,1,279,0,0,22.08.2023,MONU,1,TP00335
2,2,280,0,1,22.08.2023,MONU,2,TP00336
3,2,281,1,0,22.08.2023,MONU,2,TP00336
4,3,239,0,1,22.08.2023,MONU,3,TP00337
5,3,282,1,0,22.08.2023,MONU,3,TP00337
6,4,283,0,1,22.08.2023,MONU,4,TP00342
7,4,284,1,0,22.08.2023,MONU,4,TP00342
8,5,285,0,1,22.08.2023,MONU,5,TP00343
9,5,286,0,0,22.08.2023,MONU,5,TP00343
10,6,287,0,1,22.08.2023,MONU,6,TP00344
11,6,288,0,0,22.08.2023,MONU,6,TP00344
12,7,289,1,0,22.08.2023,MONU,7,TP00349
13,7,290,0,1,22.08.2023,MONU,7,TP00349
14,8,291,0,1,22.08.2023,MONU,8,TP00401
15,8,292,0,0,22.08.2023,MONU,8,TP00401
16,9,293,0,1,22.08.2023,MONU,9,TP00402
17,9,26,0,0,22.08.2023,MONU,9,TP00402
18,10,294,0,1,22.08.2023,MONU,10,TP00500
19,10,295,1,0,22.08.2023,MONU,10,TP00500

In [46]:
grouped = resources_tours.groupby(['%TOURNR', '%Rahmentour']).count().reset_index()

In [47]:
grouped.head()

,%TOURNR,%Rahmentour,%Mitarbeiternummer,Zeitarbeiter_Flag,Ressource.Erster Fahrer,Einsatzdatum,Betriebsstätte,Rahmentourcode
0,1,1,2,2,2,2,2,2
1,2,2,2,2,2,2,2,2
2,3,3,2,2,2,2,2,2
3,4,4,2,2,2,2,2,2
4,5,5,2,2,2,2,2,2

In [48]:
sorted_grouped = grouped.sort_values(by='%Rahmentour')

In [49]:
sorted_grouped = sorted_grouped[['%TOURNR','%Rahmentour','%Mitarbeiternummer']]

In [50]:
sorted_grouped = sorted_grouped.rename(columns={'%Mitarbeiternummer': 'employee_count'})

In [51]:
sorted_grouped.head(20)

       %TOURNR  %Rahmentour  employee_count
0            1            1               2
80644    80659            1               3
80570    80585            1               3
30456    30463            1               2
57410    57423            1               2
30342    30349            1               2
1157      1158            1               2
57163    57176            1               2
80401    80416            1               2
80319    80334            1               3
30155    30162            1               2
94036    94056            1               2
11981    11984            1               2
11982    11985            1               2
11983    11986            1               2
80373    80388            1               2
80751    80766            1               2
30627    30634            1               3
30628    30635            1               3
31018    31025            1               3

In [52]:
average_employee_count = sorted_grouped.groupby('%Rahmentour')['employee_count'].mean().reset_index()

In [53]:
average_employee_count

     %Rahmentour  employee_count
0              1        2.226250
1              2        2.149367
2              3        2.131086
3              4        2.095541
4              5        2.153649
..           ...             ...
194          195        1.000000
195          196        2.000000
196          197        4.000000
197          198        2.000000
198          199        3.000000

[199 rows x 2 columns]

In [54]:
everything_table = pd.merge(tours_join_complaints_employees_taskcoount, average_employee_count, on = '%Rahmentour', how = 'inner' )

In [55]:
everything_table = everything_table.rename(columns={'employee_count_x': 'employee_count', 'employee_count_y': 'average_employee_count'})

In [56]:
everything_table.sample(20)

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
15831,88398,17.11.2023,MONU,24,TG00024,NaN,NaN,NaN,NaN,2.0,0.0,1.0,137.0,2.147059
75513,55721,12.11.2021,MONU,110,TP00326,NaN,NaN,NaN,NaN,2.0,0.0,1.0,232.0,2.174079
47448,53416,24.06.2021,MONU,72,TP00211,NaN,NaN,NaN,NaN,2.0,1.0,1.0,188.0,2.220126
87065,53105,23.06.2021,MONU,130,TP00325,NaN,NaN,NaN,NaN,2.0,0.0,1.0,234.0,2.147395
91557,93542,03.01.2023,MONU,137,TP00313,NaN,NaN,NaN,NaN,2.0,0.0,1.0,231.0,2.350699
10996,21502,18.03.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,137.0,2.262895
66290,71157,07.06.2022,MONU,98,TP00219,NaN,NaN,NaN,NaN,3.0,1.0,1.0,116.0,2.192938
31611,13429,27.01.2021,MONU,48,TM00009,NaN,NaN,NaN,NaN,2.0,0.0,1.0,56.0,2.045512
82102,91482,21.07.2023,MONU,121,TCT0002,NaN,NaN,NaN,NaN,1.0,0.0,1.0,6.0,1.020649
10601,7702,04.09.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,161.0,2.262895
45190,66742,02.11.2022,MONU,69,TP00114,NaN,NaN,NaN,NaN,2.0,1.0,1.0,218.0,2.125000
25354,78306,13.02.2023,MONU,39,TG00034,NaN,NaN,NaN,NaN,2.0,0.0,1.0,181.0,2.194010
43097,74475,05.08.2022,MONU,67,TP00112,NaN,NaN,NaN,NaN,2.0,0.0,1.0,188.0,2.184576
53750,7737,14.08.2023,MONU,82,TG00023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.0,2.165563
60335,19558,03.08.2023,MONU,91,TP00213,NaN,NaN,NaN,NaN,2.0,0.0,1.0,145.0,2.217005
61556,39725,05.07.2022,MONU,92,TP00216,NaN,NaN,NaN,NaN,2.0,1.0,1.0,266.0,2.098750
70177,80646,24.03.2023,MONU,103,TP00317,NaN,NaN,NaN,NaN,2.0,0.0,1.0,225.0,2.224490
64420,16821,13.04.2021,MONU,96,TP00312,NaN,NaN,NaN,NaN,2.0,0.0,1.0,157.0,2.285714
75292,40706,24.02.2021,MONU,110,TP00326,NaN,NaN,NaN,NaN,2.0,0.0,1.0,297.0,2.174079
37359,40300,22.02.2021,MONU,57,TG00692,NaN,NaN,NaN,NaN,2.0,0.0,1.0,28.0,2.035714

In [62]:
everything_table[everything_table.Rahmentourcode == 'TP00433']

,%TOURNR,Einsatzdatum,Betriebsstätte,%Rahmentour,Rahmentourcode,Belegnr.,Reklamationsgrund,Grund,Reklamationsuntergrund Beschreibung,employee_count,Zeitarbeiter_Flag,Ressource.Erster Fahrer,task_count,average_employee_count
10458,64927,07.09.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,NaN,2.262895
10459,34981,22.11.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,0.0,1.0,159.0,2.262895
10460,11200,16.11.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,2.0,1.0,149.0,2.262895
10461,27513,26.04.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,134.0,2.262895
10462,79764,13.03.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,237.0,2.262895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11054,32179,16.05.2022,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,164.0,2.262895
11055,59879,25.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,160.0,2.262895
11056,33768,29.10.2021,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,1.0,1.0,141.0,2.262895
11057,77914,16.02.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,2.0,0.0,1.0,173.0,2.262895
11058,89664,12.04.2023,MONU,15,TP00433,NaN,NaN,NaN,NaN,3.0,1.0,1.0,147.0,2.262895